{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Attachments</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="margin-left: 15px;">
<h2>Attachment(s)</h2>
{% for i in data %}
        {% for file_instance in i.document_files.all %}
            {% if file_instance.document_file.name|is_image_or_pdf %}
                <a href="{% url 'downloadwest' pk=i.id file_pk=file_instance.id %}" target="_blank">
                    {{ file_instance.document_file.name }}
                </a>
            {% else %}
                <a href="{% url 'downloadwest' pk=i.id file_pk=file_instance.id %}" download>
                    {{ file_instance.document_file.name }}
                </a>
            {% endif %}
            <br>
        {% endfor %}
    <a href="{% url 'download_all_west_files' pk=i.id %}" class="btn btn-primary"
    style="margin-top: 10px;">Download All Files</a>
    {% endfor %}

{% for i in north_data %}
        {% for file_instance in i.document_files.all %}
            {% if file_instance.document_file.name|is_image_or_pdf %}
                <a href="{% url 'downloadnorth' pk=i.id file_pk=file_instance.id %}" target="_blank">
                    {{ file_instance.document_file.name }}
                </a>
            {% else %}
                <a href="{% url 'downloadnorth' pk=i.id file_pk=file_instance.id %}" download>
                    {{ file_instance.document_file.name }}
                </a>
            {% endif %}
            <br>
        {% endfor %}
    <a href="{% url 'download_all_north_files' pk=i.id %}" class="btn btn-primary"
    style="margin-top: 10px;">Download All Files</a>
    {% endfor %}

    {% for i in south_data %}
        {% for file_instance in i.document_files.all %}
            {% if file_instance.document_file.name|is_image_or_pdf %}
                <a href="{% url 'downloadsouth' pk=i.id file_pk=file_instance.id %}" target="_blank">
                    {{ file_instance.document_file.name }}
                </a>
            {% else %}
                <a href="{% url 'downloadsouth' pk=i.id file_pk=file_instance.id %}" download>
                    {{ file_instance.document_file.name }}
                </a>
            {% endif %}
            <br>
        {% endfor %}
        <a href="{% url 'download_all_south_files' pk=i.id %}" class="btn btn-primary"
    style="margin-top: 10px;">Download All Files</a>
    {% endfor %}

{% for i in inter_data %}
        {% for file_instance in i.document_files.all %}
            {% if file_instance.document_file.name|is_image_or_pdf %}
                <a href="{% url 'interdownload' pk=i.sr file_pk=file_instance.id %}" target="_blank">
                    {{ file_instance.document_file.name }}
                </a>
            {% else %}
                <a href="{% url 'interdownload' pk=i.sr file_pk=file_instance.id %}" download>
                    {{ file_instance.document_file.name }}
                </a>
            {% endif %}
            <br>
        {% endfor %}
    <a href="{% url 'download_all_files' pk=i.sr %}" class="btn btn-primary"
    style="margin-top: 10px;">Download All Files</a>
    {% endfor %}

</body>
</html>