<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Design Status</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .status-dropdown {
            background-color: transparent;
            color: white;
            border: 2px solid white;
            border-radius: 5px;
            padding: 3px;
            max-width: 100px;
        }

        .status-dropdown option {
            color: black;
        }

        .btn-info, #postbtn {
            margin-left: 10px;
            width: 150px;
            height: 50px;
        }

        #wbtn1, #wbtn2 {
            margin-left: 10px;
            background-color: #1f9b3e;
            width: 150px;
            height: 50px;
        }

        th {
            background: white;
            position: sticky;
            top: 0;
        }

        #full_table, #excluded_table {
            max-height: 500px;
            overflow: auto;
            float: left;
        }

        #searchInput {
            padding: 5px;
            margin-top: 10px;
            margin-left: 10px;
            width: 200px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        #sbtn {
            padding: 5px 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        #sbtn:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
{% if user.is_authenticated %}
    <form action="logout" class="text-right" style="margin-top: 10px; margin-right: 25px;">
        <button class="btn btn-success">Logout</button>
    </form>
    <div style="text-align: center;">
        <a href="{% url 'designer' %}">
            <button class="btn btn-info" type="button">West</button>
        </a>
        <a href="{% url 'Southdesign' %}">
            <button class="btn btn-info" type="button">South</button>
        </a>
        <a href="{% url 'Northdesign' %}">
            <button class="btn btn-info" type="button">North</button>
        </a>
        <a href="{% url 'interDesigner' %}">
            <button class="btn btn-info" type="button">International</button>
        </a>
        <a href="{% url 'ps1' %}">
            <button class="btn btn-warning" id="postbtn" type="button">Post Sales</button>
        </a>
    </div>
    <input type="text" id="searchInput" placeholder="Search...">
    <button onclick="searchTable()" id="sbtn">Search</button>
    <div class="container-fluid">
        <h2>North Design Status</h2>
        <div style="text-align: center; margin-bottom: 10px;">
            <button class="btn btn-warning" id="wbtn1" onclick="alltable()" type="button">All Rows</button>
            <button class="btn btn-warning" id="wbtn2" onclick="excludedtable()" title="Remove Completed Rows" type="button">
                Filtered Rows
            </button>
        </div>
        <div class="table-responsive" id="full_table" style="display: inline;">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>S.N</th>
                    <th>Client</th>
                    <th>Job No</th>
                    <th>Project Name</th>
                    <th>Capacity</th>
                    <th>Design Status</th>
                    {# New Column #}
                    <th>Rev</th>
                    <th>Installation Type</th>
                    <th>Current Sales Stage</th>
                    <th>Design Request Date</th>
                    <th>Design Request Mode</th>
                    <th>Lead Handled By</th>
                    <th>Drawing Required</th>
                    <th>Sunrack Design POC</th>
                    <th>Remarks</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                {% if north_data %}
                    <tbody>
                    {% for i in north_data %}
                        <tr>
                            <td>{{ i.id }}</td>
                            <td>{{ i.client }}</td>
                            <td>{{ i.job_no }}</td>
                            <td style="max-width: 100px; word-wrap: break-word;">{{ i.project_name }}</td>
                            <td>{{ i.capacity }}</td>
                            <td style="background-color: {% if i.design_status == 'Not Started' or i.design_status == 'Revision' %}red{% elif i.design_status == 'In Progress' or i.design_status == 'On Hold' %}orange{% elif i.design_status == 'Dropped' %}gray{% elif i.design_status == 'Partial Done' %}lightgreen{% elif i.design_status == 'Done' %}green{% endif %}">
                                <form name="northShowpageUpdate" action="{% url 'northShowpageUpdate' pk=i.id %}"
                                      method="post">
                                    {% csrf_token %}
                                    <select id="design_status1" name="design_status1" onchange="submitForm(this.form)"
                                            class="status-dropdown">
                                        <option value="Not Started"
                                                {% if i.design_status == "Not Started" %}selected{% endif %}>Not Started
                                        </option>
                                        <option value="In Progress"
                                                {% if i.design_status == "In Progress" %}selected{% endif %}>In Progress
                                        </option>
                                        <option value="Done" {% if i.design_status == "Done" %}selected{% endif %}>
                                            Done
                                        </option>
                                        <option value="On Hold"
                                                {% if i.design_status == "On Hold" %}selected{% endif %}>On Hold
                                        </option>
                                        <option value="Revision"
                                                {% if i.design_status == "Revision" %}selected{% endif %}>Revision
                                        </option>
                                        <option value="Dropped"
                                                {% if i.design_status == "Dropped" %}selected{% endif %}>Dropped
                                        </option>
                                        <option value="Partial Done"
                                                {% if i.design_status == "Partial Done" %}selected{% endif %}>Partial
                                            Done
                                        </option>
                                    </select>
                                </form>
                            </td>
                            {# New data #}
                            <td>{{ i.rev }}</td>
                            <td>{{ i.installation_type }}</td>
                            <td>{{ i.sales_stage }}</td>
                            <td>{{ i.design_request_date }}</td>
                            <td>{{ i.design_request_mode }}</td>
                            <td>{{ i.sales_poc }}</td>
                            <td> {{ i.documents_required }}<br>
                                {% if i.document_files.all %}
                                    <a href="{% url 'north_attachments' pk=i.id %}" target="_blank">Attachment(s)</a>
                                {% endif %}
                            </td>
                            <td>{{ i.design_assigned }}</td>
                            <td>
                                {% if i.remarks|length > 50 %}
                                    {{ i.remarks|truncatewords:2 }}
                                    <span class="see-more" style="display: none;">{{ i.remarks }}</span>
                                    <a href="#" class="toggle-more">See More</a>
                                {% else %}
                                    {{ i.remarks }}
                                {% endif %}
                            </td>
                            <td>
                                <form name="NorthEditpage" action="{% url 'NorthEditpage' pk=i.id %}"
                                      method="post">
                                    {% csrf_token %}
                                    <input type="submit" class="btn btn-primary" value="Edit">
                                </form>
                            </td>
                            <td>
                                <form name="NorthDeleteForm" action="{% url 'NorthDelete' pk=i.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="submit" class="btn btn-danger" value="Delete">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                {% endif %}
            </table>
        </div>
        <div class="container-fluid">
            <div class="table-responsive" id="excluded_table" style="display: none;">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>S.N</th>
                        <th>Client</th>
                        <th>Job No</th>
                        <th>Project Name</th>
                        <th>Capacity</th>
                        <th>Design Status</th>
                        {# New Column #}
                        <th>Rev</th>
                        <th>Installation Type</th>
                        <th>Current Sales Stage</th>
                        <th>Design Request Date</th>
                        <th>Design Request Mode</th>
                        <th>Sunrack Sales POC</th>
                        <th>Drawing Required</th>
                        <th>Design Assigned</th>
                        <th>Remarks</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    {% if north_data %}
                        <tbody>
                        {% for i in excluded_data %}
                            <tr>
                                <td>{{ i.id }}</td>
                                <td>{{ i.client }}</td>
                                <td>{{ i.job_no }}</td>
                                <td>{{ i.project_name }}</td>
                                <td>{{ i.capacity }}</td>
                                <td style="background-color: {% if i.design_status == 'Not Started' or i.design_status == 'Revision' %}red{% elif i.design_status == 'In Progress' or i.design_status == 'On Hold' %}orange{% elif i.design_status == 'Dropped' %}gray{% elif i.design_status == 'Partial Done' %}lightgreen{% elif i.design_status == 'Done' %}green{% endif %}">
                                    <form name="northShowpageUpdate" action="{% url 'northShowpageUpdate' pk=i.id %}"
                                          method="post">
                                        {% csrf_token %}
                                        <select id="design_status1" name="design_status1"
                                                onchange="submitForm(this.form)"
                                                class="status-dropdown">
                                            <option value="Not Started"
                                                    {% if i.design_status == "Not Started" %}selected{% endif %}>Not
                                                Started
                                            </option>
                                            <option value="In Progress"
                                                    {% if i.design_status == "In Progress" %}selected{% endif %}>In
                                                Progress
                                            </option>
                                            <option value="Done" {% if i.design_status == "Done" %}selected{% endif %}>
                                                Done
                                            </option>
                                            <option value="On Hold"
                                                    {% if i.design_status == "On Hold" %}selected{% endif %}>On Hold
                                            </option>
                                            <option value="Revision"
                                                    {% if i.design_status == "Revision" %}selected{% endif %}>Revision
                                            </option>
                                            <option value="Dropped"
                                                    {% if i.design_status == "Dropped" %}selected{% endif %}>Dropped
                                            </option>
                                            <option value="Partial Done"
                                                    {% if i.design_status == "Partial Done" %}selected{% endif %}>
                                                Partial
                                                Done
                                            </option>
                                        </select>
                                    </form>
                                </td>
                                {# New data #}
                                <td>{{ i.rev }}</td>
                                <td>{{ i.installation_type }}</td>
                                <td>{{ i.sales_stage }}</td>
                                <td>{{ i.design_request_date }}</td>
                                <td>{{ i.design_request_mode }}</td>
                                <td>{{ i.sales_poc }}</td>
                                <td>{{ i.documents_required }}<br>
                                    {% if i.document_files.all %}
                                        <a href="{% url 'view_attachments' pk=i.id %}" target="_blank">Attachment(s)</a>
                                    {% endif %}
                                </td>
                                <td>{{ i.design_assigned }}</td>
                                <td>
                                    {% if i.remarks|length > 50 %}
                                        {{ i.remarks|truncatewords:2 }}
                                        <span class="see-more" style="display: none;">{{ i.remarks }}</span>
                                        <a href="#" class="toggle-more">See More</a>
                                    {% else %}
                                        {{ i.remarks }}
                                    {% endif %}
                                </td>
                                <td>
                                    <form name="EditForm" action="{% url 'editpage' pk=i.id %}"
                                          method="post">
                                        {% csrf_token %}
                                        <input type="submit" class="btn btn-primary" value="Edit">
                                    </form>
                                </td>
                                <td>
                                    <form name="DeleteForm" action="{% url 'delete' pk=i.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="submit" class="btn btn-danger" value="Delete">
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
    <div style="display: flex; margin-top: 15px; margin-left: 20px;">
        <!-- Button To insert data -->
        <a href="{% url 'north_to_excel' %}" class="btn btn-success">Download Excel</a>
    </div><br>
    <script>
        function submitForm(form) {
            form.submit();
        }
    </script>
{% else %}
    <h2>You are Not Logged In</h2>
    <form action="/">
        <input type="submit" value="Log in" style="background: black; color: white">
    </form>
{% endif %}
<script>
    function searchTable() {
        // Get the input value entered by the user
        let input = document.getElementById("searchInput");
        let filter = input.value.toUpperCase();

        // Get all tables with the specified class
        let tables = document.getElementsByClassName("table table-hover");

        // Loop through each table
        for (let t = 0; t < tables.length; t++) {
            let table = tables[t];
            // Get all rows of the table
            let rows = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those that don't match the search query
            for (let i = 0; i < rows.length; i++) {
                let cells = rows[i].getElementsByTagName("td");
                let found = false;
                for (let j = 0; j < cells.length; j++) {
                    let cell = cells[j];
                    if (cell) {
                        let txtValue = cell.textContent || cell.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            found = true;
                            break;
                        }
                    }
                }
                // Toggle the display of the row based on whether it matches the search query
                if (found) {
                    rows[i].style.display = "";
                } else {
                    rows[i].style.display = "none";
                }
            }
        }
    }
</script>
<script>
    function alltable() {
        let alltb = document.getElementById('full_table');
        let excludedtb = document.getElementById('excluded_table');
        alltb.style.display = 'inline';
        excludedtb.style.display = 'none';
    }

    function excludedtable() {
        let alltb = document.getElementById('full_table');
        let excludedtb = document.getElementById('excluded_table');
        excludedtb.style.display = 'inline';
        alltb.style.display = 'none';
    }
</script>
<script>
    // Place this code just before the closing </body> tag or use a defer/async attribute
    const toggleLinks = document.querySelectorAll(".toggle-more");

    toggleLinks.forEach((link) => {
        link.addEventListener("click", (event) => {
            event.preventDefault();
            event.stopPropagation(); // Prevent event propagation
            const limitedText = link.parentElement.querySelector(".limited-text");
            const seeMore = link.previousElementSibling; // Adjusted to select the previous sibling

            if (seeMore.style.display === "none") {
                seeMore.style.display = "inline";
                limitedText.style.display = "none";
                link.textContent = "See Less";
            } else {
                seeMore.style.display = "none";
                limitedText.style.display = "inline";
                link.textContent = "See More";
            }
        });
    });
</script>
</body>
</html>