<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!-- Popper.js, required for Bootstrap's JavaScript plugins -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 class="mb-2">Update The Data</h2> <!-- Reduced margin -->
            {% if get_data %}
                <form action="{% url 'interupdate' pk=get_data.sr %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group mb-1"> <!-- Reduced margin -->
                        <label for="id">Serial No:</label>
                        <input type="number" class="form-control" id="id" name="id"
                               value="{{ get_data.sr }}" readonly>
                    </div>
                    <div class="form-group mb-1"> <!-- Reduced margin -->
                        <label for="client">Client:</label>
                        <input type="text" class="form-control" id="client" name="client"
                               value="{{ get_data.client }}"
                               required>
                    </div>
                    <div class="form-group mb-1"> <!-- Reduced margin -->
                        <label for="job_no">Job No:</label>
                        <input type="text" class="form-control" id="job_no" name="job_no"
                               value="{{ get_data.job_no }}">
                    </div>
                    <div class="form-group mb-1"> <!-- Reduced margin -->
                        <label for="project_name">Project Name:</label>
                        <input type="text" class="form-control" id="project_name" name="project_name"
                               value="{{ get_data.project_name }}">
                    </div>
                    <div class="form-group mb-1"> <!-- Reduced margin -->
                        <label for="capacity">Capacity:</label>
                        <input type="text" class="form-control" id="capacity" name="capacity"
                               value="{{ get_data.capacity }}">
                    </div>
                    <div class="form-group mb-1"> <!-- Reduced margin -->
                        <label for="design_status">Design Status:</label>
                        <select class="form-control" id="design_status" name="design_status">
                            <option value="{{ get_data.design_status }}">{{ get_data.design_status }}</option>
                        </select>
                    </div>
                    <!-- New Data -->
                    <div class="form-group mb-1">
                        <label for="rev">Rev:</label>
                        <input type="text" class="form-control" value="{{ get_data.rev }}" id="rev" name="rev">
                    </div>
                    <div class="form-group mb-1">
                        <label for="installation_type">Installation Type:</label>
                        <select class="form-control" id="installation_type" name="installation_type">
                            <option value="{{ get_data.installation_type }}">{{ get_data.installation_type }}</option>
                            <option value="Hand Rail">Hand Rail</option>
                            <option value="Walkway">Walkway</option>
                            <option value="MIX">MIX</option>
                            <option value="Combination">Combination</option>
                            <option value="Carport">Carport</option>
                            <option value="Asbestos Roof">Asbestos Roof</option>
                            <option value="Standing Seam Roof">Standing Seam Roof</option>
                            <option value="Sinusodial Metal Roof">Sinusodial Metal Roof</option>
                            <option value="Trapezoidal Metal Roof">Trapezoidal Metal Roof</option>
                            <option value="Flat RCC">Flat RCC</option>
                            <option value="Ground Mount">Ground Mount</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="form-group mb-1">
                        <label for="sales_stage">Current Sales Stage:</label>
                        <select class="form-control" id="sales_stage" name="sales_stage">
                            <option value="{{ get_data.sales_stage }}">{{ get_data.sales_stage }}</option>
                            <option value="Pre Sales">Pre Sales</option>
                            <option value="Post Sales">Post Sales</option>
                            <option value="Post Sales Rectification">Post Sales Rectification</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="form-group mb-1">
                        <label for="design_request_date">Design Request Date:</label>
                        <input type="date" class="form-control" id="design_request_date" name="design_request_date"
                               value="{{ get_data.design_request_date }}">
                    </div>
                    <div class="form-group mb-1">
                        <label for="design_request_mode">Design Request Mode:</label>
                        <select class="form-control" id="design_request_mode" name="design_request_mode">
                            <option value="{{ get_data.design_request_mode }}">{{ get_data.design_request_mode }}</option>
                            <option value="Email">Email</option>
                            <option value="Whatsapp">Whatsapp</option>
                            <option value="Call">Call</option>
                            <option value="Email + Whatsapp">Email + Whatsapp</option>
                            <option value="Email + Call">Email + Call</option>
                            <option value="Call + Whatsapp">Call + Whatsapp</option>
                            <option value="No Design Request">No Design Request</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="form-group mb-1">
                        <label for="sales_poc">Sunrack Sales POC:</label>
                        <select class="form-control" id="sales_poc" name="sales_poc">
                            <option value="{{ get_data.sales_poc }}">{{ get_data.sales_poc }}</option>
                            <option value="Ahmad">Ahmad</option>
                            <option value="Anand">Anand</option>
                            <option value="Azim">Azim</option>
                            <option value="Pavan">Pavan</option>
                            <option value="Prashant">Prashant</option>
                            <option value="Venkat">Venkat</option>
                            <option value="Muthu">Muthu</option>
                            <option value="Imran">Imran</option>
                            <option value="Vikram">Vikram</option>
                        </select>
                    </div>
                    <div class="form-group mb-1">
                        <label for="documents_required">Documents/Drawing Required:</label>
                        <select class="form-control" id="documents_required" name="documents_required">
                            <option value="{{ get_data.documents_required }}">{{ get_data.documents_required }}</option>
                            <option value="Layout">Layout</option>
                            <option value="GA + Costing">GA + Costing</option>
                            <option value="BOM + Costing">BOM + Costing</option>
                            <option value="GA + BOM + Costing">GA + BOM + Costing</option>
                            <option value="Only Costing">Only Costing</option>
                            <option value="FEA Analysis">FEA Analysis</option>
                            <option value="Staad Report">Staad Report</option>
                            <option value="GA + BOM + Report">GA + BOM + Report</option>
                            <option value="Part Drawings">Part Drawings</option>
                            <option value="Refer to Email">Refer to Email</option>
                            <option value="Refer to Whatsapp">Refer to Whatsapp</option>
                            <option value="Layout + GA + BOM + Costing">Layout + GA + BOM + Costing</option>
                            <option value="Other">Other</option>
                        </select>
                        <label style="margin-top: 10px;">Upload File(Optional): </label><br>
                        <button type="button" class="btn btn-secondary"
                                onclick="document.getElementById('document_file').click()">Add Files
                        </button>
                        <input type="file" id="document_file" name="document_file" multiple style="display: none;"
                               onchange="displaySelectedFiles()">
                        <div id="selected_files"></div>

                        {% for file in get_data.document_files.all %}
                            <div class="file-entry">
                                <p style="display: inline;">{{ file.document_file.name }}</p>
                                <a href="{% url 'inter_delete_file' column_id=get_data.sr file_id=file.id %}"
                                   class="btn btn-danger delete-button" style="font-size: 12px;">X</a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="form-group mb-1">
                        <label style="margin-top: 10px;" for="design_assigned">Design Assigned:</label>
                        <select class="form-control" id="design_assigned" name="design_assigned">
                            <option value="{{ get_data.design_assigned }}">{{ get_data.design_assigned }}</option>
                            <option value="None">None</option>
                            <option value="Pavan">Pavan</option>
                            <option value="Ahmad">Ahmad</option>
                            <option value="Ayyub">Ayyub</option>
                            <option value="Inzimam">Inzimam</option>
                            <option value="Amaan">Amaan</option>
                            <option value="Ameen">Ameen</option>
                            <option value="Mujaddid">Mujaddid</option>
                            <option value="Kashish">Kashish</option>
                        </select>
                    </div>
                    <div class="form-group mb-1">
                        <label for="remarks">Remarks:</label>
                        <input type="text" class="form-control" id="remarks" value="{{ get_data.remarks }}"
                               name="remarks">
                    </div>
                    <button type="submit" class="btn btn-success" style="margin-top: 10px;">Update</button>
                </form><br>
                {% if user.is_superuser or user.username == 'International@user' %}
                    <button class="button btn-success" style="margin-top: 10px;" onclick="DisplayPopup()">
                        Submit to Post Sales
                    </button><br>
                {% endif %}
                <dialog id="popup-form">
                    <div id="popup-div">
                        <form method="post" action="{% url 'popI' pk=get_data.id %}">
                            {% csrf_token %}
                            <h2>Post Sales</h2>
                            <label for="order_ref">Order Refrence(PO Number, Email, Verbal):</label><br>
                            <input type="text" id="order_ref" name="order_ref"><br>
                            <label for="order_date">Order Date</label><br>
                            <input type="date" id="order_date" name="order_date"><br><br>
                            <button type="button" onclick="ClosePopup()">Cancel</button>
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                </dialog>
            {% endif %}
        </div>
    </div>
</div>
<script>
    function displaySelectedFiles() {
        let input = document.getElementById('document_file');
        let output = document.getElementById('selected_files');
        let files = input.files;

        output.innerHTML = ""; // clear previous content
        for (let i = 0; i < files.length; i++) {
            output.innerHTML += '<p>' + files[i].name + '</p>';
        }
    }
</script>
<script>
    let dialog = document.getElementById('popup-form');

    function DisplayPopup() {
        dialog.showModal();
    }

    function ClosePopup() {
        dialog.close();
    }
</script>
</body>
</html>