{% load custom_filters %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Attachments</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body style="margin-left: 15px;">
<div class="flex flex-col mt-4 gap-2">
    <div class="">
        <div>
            <h2 class="text-3xl">Attachment(s)</h2>
        </div>
        <div class="mt-4">
            {% for i in nwest_data %}
                {% for file_instance in i.document_files.all %}
                    {% if file_instance.document_file.name|is_image_or_pdf %}
                        <div class="flex gap-2">
                            <div>
                                <a href="{% url 'nwestdownload' pk=i.sr file_pk=file_instance.id %}"
                                   class="text-blue-700 text-xl"
                                   target="_blank">
                                    {{ file_instance.document_file.name }}
                                </a>
                            </div>
                            <div class="mt-1">
                                <label class="text-sm font-medium italic">Uploaded By:</label>
                                <label class="text-sm">{{ file_instance.user }}</label>
                            </div>
                            <div class="mt-1">
                                <label class="text-sm font-medium italic">Date & Time:</label>
                                <label class="text-sm">{{ file_instance.date_time }}</label>
                            </div>
                        </div>
                    {% else %}
                        <a href="{% url 'nwestdownload' pk=i.sr file_pk=file_instance.id %}" class="text-blue-700"
                           download>
                            {{ file_instance.document_file.name }}
                        </a>
                        <label>{{ file_instance.user }}</label>
                    {% endif %}
                    <br>
                {% endfor %}
                </div>
                </div>
                <div>
                    <a href="{% url 'nwest_download_all_files' pk=i.sr %}"
                       class="px-3 py-2 bg-blue-600 w-40 text-white rounded hover:bg-blue-800"
                       style="margin-top: 10px;">Download All Files</a>
                </div>
            {% endfor %}
</div>
</body>
</html>