<!DOCTYPE html>
<html lang="" xmlns="http://www.w3.org/1999/html">
<head>
    <title>CRM List</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
        .status-dropdown {
            background-color: lightcyan;
            color: black;
            border: 2px solid black;
            border-radius: 5px;
            padding: 3px;
            max-width: 100px;
        }

        .status-dropdown option {
            color: black;
        }

        th {
            background: white;
            position: sticky;
            top: 0;
        }

        #full_table {
            max-height: 500px;
            overflow: auto;
            float: left;
        }

        #searchInput {
            padding: 5px;
            margin-top: 10px;
            margin-left: 10px;
            width: 200px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        #sbtn {
            padding: 5px 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        #sbtn:hover {
            background-color: #45a049;
        }

        .container1 {
            display: flex;
            align-items: center;
        }

        .container1 div {
            margin-left: 10px;
        }

        .flex-container {
            display: flex;
            align-items: center;
            justify-content: flex-end; /* Adjust this if needed */
        }
    </style>
</head>
<body>
<div class="text-right flex-container">
    <label class="text-right" style="margin-right: 10px;margin-top: 13px;"><b>Hey, {{ user }}</b></label>
    <a href="newInsert" style="margin: 15px 0 0 5px;" class="btn btn-primary">Add CRM
    </a>
    <div class="dropdown" style="margin: 15px 25px 0 10px;">
        <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Logout
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="logout">Logout</a></li>
            <li><a class="dropdown-item" href="change_password">Change Password</a></li>
        </ul>
    </div>
</div>
{#<input type="text" id="searchInput" placeholder="Search...">#}
{#<button onclick="searchTable()" id="sbtn">Search</button>#}
<div class="container-fluid">
    <div class="container1">
        <h2>{{ region }} CRM List</h2>
        <a href="newDesign"><input type="button" class="btn btn-danger" value="Remove filter"
         style="margin-left: 10px;">
        </a>
    </div>
    <div>
        <input type="checkbox" id="drm" onclick="dispcolumnns()">
        <label for="drm">Show Other Fields</label>
    </div>
    <div class="table-responsive" id="full_table">
        <table class="table table-hover" style="display: inline;">
            <thead>
            <tr>
                <th>S.N</th>
                <th>Client Name</th>
                <th id="cl_id1" style="display: none">Client ID</th>
                <th>Project Name</th>
                <th>Project ID</th>
                <th>Project Location</th>
                <th>Requirement</th>
                <th>Capacity / Length</th>
                {# New Column #}
                <th>CRM Entry_Date</th>
                <th>Design Team Intervention</th>
                <th>Installation Type</th>
                <th>Remarks</th>
                <th>Edit / Delete</th>
                <th>Sales Status</th>
                <th id="drm_disp1" style="display: none">
                    Design Request Mode
                </th>
                <th id="rfd1" style="display: none">Input Document</th>
                {#                <th id="dsg_ass1" style="display: none">Sales POC</th>#}
                <th id="sol1" style="display: none">Solutions</th>
            </tr>
            </thead>
            {% if all_data %}
                <tbody>
                {% for i in all_data %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ i.client }}</td>
                        <td id="cl_id2" style="display: none">{{ i.client_id }}</td>
                        <td style="max-width: 100px; word-wrap: break-word;">{{ i.project_name }}</td>
                        <!-- 'word-wrap: break-word;' this thing is use to  -->
                        <td>{{ i.project_id }}</td>
                        <td>{{ i.project_location }}</td>
                        <td>{{ i.client_requirements }}<br>
                            {{ i.requirement_for_design }}</td>
                        <td>
                            {% if i.capacity %}
                                {{ i.capacity }} kWp
                            {% endif %}
                            {% if i.length_walkway %}
                                <br>
                                {{ i.length_walkway }} Mtr
                            {% endif %}
                            {% if i.length_handrail %}
                                <br>
                                {{ i.length_handrail }} Mtr
                            {% endif %}
                        </td>
                        {# New data #}
                        <td>{{ i.crm_entry_date_formatted }}</td>
                        <td>{{ i.design_intervention }}
                            {% if i.design_intervention == 'Yes' %}
                                {#                                <form name="nwestshowpageUpdate" action="{% url 'nwestshowpageUpdate' pk=i.sr %}"#}
                                {#                                      method="post">#}
                                {#                                    {% csrf_token %}#}
                                {#                                    <select id="design_status1" name="design_status1" onchange="submitForm(this.form)"#}
                                {#                                            class="status-dropdown">#}
                                {#                                        <option value="Not Started"#}
                                {#                                                {% if i.design_status == "Not Started" %}selected{% endif %}>Not Started#}
                                {#                                        </option>#}
                                {#                                        <option value="In Progress"#}
                                {#                                                {% if i.design_status == "In Progress" %}selected{% endif %}>In Progress#}
                                {#                                        </option>#}
                                {#                                        <option value="Done" {% if i.design_status == "Done" %}selected{% endif %}>#}
                                {#                                            Done#}
                                {#                                        </option>#}
                                {#                                        <option value="On Hold"#}
                                {#                                                {% if i.design_status == "On Hold" %}selected{% endif %}>On Hold#}
                                {#                                        </option>#}
                                {#                                        <option value="Revision"#}
                                {#                                                {% if i.design_status == "Revision" %}selected{% endif %}>Revision#}
                                {#                                        </option>#}
                                {#                                        <option value="Dropped"#}
                                {#                                                {% if i.design_status == "Dropped" %}selected{% endif %}>Dropped#}
                                {#                                        </option>#}
                                {#                                        <option value="Partial Done"#}
                                {#                                                {% if i.design_status == "Partial Done" %}selected{% endif %}>Partial#}
                                {#                                            Done#}
                                {#                                        </option>#}
                                {#                                    </select>#}
                                {#                                </form>#}
                                <br>Status: {{ i.design_status }}
                            {% endif %}
                        </td>
                        <td>{{ i.installation_type }}</td>
                        <td>
                            {% if i.remarks %}
                                <a onclick="DisplayPopup('{{ i.sr }}')" href="#">Read Remarks</a>
                                <dialog id="remark-popup-{{ i.sr }}" class="remark-popup">
                                    <label>{{ i.remarks }}</label><br>
                                    <input type="button" class="btn btn-danger" value="Close"
                                           onclick="ClosePopup('{{ i.sr }}')">
                                </dialog>
                            {% else %}
                                Nil
                            {% endif %}
                        </td>
                        <td>
                            <a name="EditForm" href="{% url 'nwestedit' pk=i.sr %}">
                                Edit
                            </a>
                            <a onclick="DisplayDeletePopup('{{ i.sr }}')" href="#">
                                {#                                <input type="submit" class="btn btn-danger" value="Delete"#}
                                {#                                       style="width: 50px; padding: 0; margin-top: 5px;">#}Delete
                            </a>
                            <dialog id="delete-popup-{{ i.sr }}">
                                <label>Are you sure, you want to delete?</label><br>
                                <a name="DeleteForm" href="{% url 'newDelete' pk=i.sr %}">
                                    <input type="button" class="btn btn-success" value="Yes">
                                </a>
                                <input type="button" class="btn btn-danger" value="No"
                                       onclick="CloseDeletePopup('{{ i.sr }}')" style="margin-left: 10px;">
                            </dialog>
                        </td>
                        <td>
                            {{ i.sales_status }}<br>
                            <a onclick="DisplaySalesStPopup('{{ i.sr }}')" href="#">Change</a>
                            <dialog id="sales-status-popup-{{ i.sr }}">
                                <form method="post" action="{% url 'west_sales_stageUpdate' i.sr %}">
                                    {% csrf_token %}
                                    <label>Select Sales Status:</label><br>
                                    <input type="radio" id="pre_sales" name="sales_status"
                                           value="Pre Sales" {% if i.sales_status == "Pre Sales" %}
                                           disabled {% endif %}>
                                    <label for="pre_sales">Pre Sales</label>
                                    <input type="radio" id="hold" name="sales_status"
                                           value="Hold" {% if i.sales_status == "Hold" %} disabled {% endif %}>
                                    <label for="hold">Hold</label>
                                    <input type="radio" id="post_sales" name="sales_status"
                                           value="Post Sales" {% if i.sales_status == "Post Sales" %}
                                           disabled {% endif %}>
                                    <label for="post_sales">Post Sales</label><br>
                                    <input type="submit" class="btn btn-success" value="Submit">
                                    <input type="button" class="btn btn-danger" value="Cancel"
                                           onclick="CloseSalesStPopup('{{ i.sr }}')" style="margin-left: 10px;">
                                </form>
                            </dialog>
                        </td>
                        <td id="drm_disp2" style="display: none">
                            {{ i.design_request }} </td>
                        <td id="rfd2" style="display: none">
                            {% if i.document_files.all %}
                                <a href="{% url 'new_attachments' pk=i.sr %}" target="_blank">Attachment(s)</a>
                            {% endif %}
                        </td>
                        {#                        <td id="dsg_ass2" style="display: none">{{ i.design_assigned }}</td>#}
                        <td id="sol2" style="display: none">
                            {% if i.design_intervention == 'Yes' %}
                                <a href="{% url 'display_nwsolution' pk=i.sr %}" target="_blank">Check</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            {% endif %}
        </table>
    </div>
</div>
<script>
    function submitForm(form) {
        form.submit();
    }
</script>
<script>
    function searchTable() {
        // Get the input value entered by the user
        let input = document.getElementById("searchInput");
        let filter = input.value.toUpperCase();

        // Get all tables with the specified class
        let tables = document.getElementsByClassName("table table-hover");

        // Loop through each table
        for (let t = 0; t < tables.length; t++) {
            let table = tables[t];
            // Get all rows of the table
            let rows = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those that don't match the search query
            for (let i = 0; i < rows.length; i++) {
                let cells = rows[i].getElementsByTagName("td");
                let found = false;
                for (let j = 0; j < cells.length; j++) {
                    let cell = cells[j];
                    if (cell) {
                        let txtValue = cell.textContent || cell.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            found = true;
                            break;
                        }
                    }
                }
                // Toggle the display of the row based on whether it matches the search query
                if (found) {
                    rows[i].style.display = "";
                } else {
                    rows[i].style.display = "none";
                }
            }
        }
    }
</script>
<script>
    // Place this code just before the closing </body> tag or use a defer/async attribute
    const toggleLinks = document.querySelectorAll(".toggle-more");

    toggleLinks.forEach((link) => {
        link.addEventListener("click", (event) => {
            event.preventDefault();
            event.stopPropagation(); // Prevent event propagation
            const limitedText = link.parentElement.querySelector(".limited-text");
            const seeMore = link.previousElementSibling; // Adjusted to select the previous sibling

            if (seeMore.style.display === "none") {
                seeMore.style.display = "inline";
                limitedText.style.display = "none";
                link.textContent = "See Less";
            } else {
                seeMore.style.display = "none";
                limitedText.style.display = "inline";
                link.textContent = "See More";
            }
        });
    });
</script>
<script>
    function DisplayPopup(id) {
        let dialog = document.getElementById('remark-popup-' + id);
        dialog.showModal();
    }

    function ClosePopup(id) {
        let dialog = document.getElementById('remark-popup-' + id);
        dialog.close();
    }

    function DisplayDeletePopup(id) {
        let dialog = document.getElementById('delete-popup-' + id);
        dialog.showModal();
    }

    function CloseDeletePopup(id) {
        let dialog = document.getElementById('delete-popup-' + id);
        dialog.close();
    }

    function DisplaySalesStPopup(id) {
        let dialog = document.getElementById('sales-status-popup-' + id);
        dialog.showModal();
    }

    function CloseSalesStPopup(id) {
        let dialog = document.getElementById('sales-status-popup-' + id);
        dialog.close();
    }

    function dispdatefilter() {
        let date_div = document.getElementById('date_div');
        date_div.style.display = "inline"
    }

    function display_filters() {
        let filter = document.getElementById('filters');
        let client_div = document.getElementById('client_div');
        let date_div = document.getElementById('date_div');
        let location_div = document.getElementById('location_div');
        let installationtype_div = document.getElementById('installationtype_div');
        let sales_status_div = document.getElementById('sales_status_div');

        if (filter.value === "Client Name") {
            client_div.style.display = "inline";
            date_div.style.display = "none";
            location_div.style.display = "none";
            installationtype_div.style.display = "none";
            sales_status_div.style.display = "none";
        } else if (filter.value === "Entry Date") {
            date_div.style.display = "inline";
            client_div.style.display = "none";
            location_div.style.display = "none";
            installationtype_div.style.display = "none";
            sales_status_div.style.display = "none";
        } else if (filter.value === "Location") {
            location_div.style.display = "inline";
            client_div.style.display = "none";
            date_div.style.display = "none";
            installationtype_div.style.display = "none";
            sales_status_div.style.display = "none";
        } else if (filter.value === "Installation Type") {
            installationtype_div.style.display = "inline";
            date_div.style.display = "none";
            location_div.style.display = "none";
            client_div.style.display = "none";
            sales_status_div.style.display = "none";
        } else if (filter.value === "Sales Status") {
            installationtype_div.style.display = "none";
            date_div.style.display = "none";
            location_div.style.display = "none";
            client_div.style.display = "none";
            sales_status_div.style.display = "inline";
        }

    }

    function dispcolumnns() {
        // drm = design request mode
        let opt_checkbox = document.getElementById('drm');

        let drm_disp1 = document.getElementById('drm_disp1');
        let rfd1 = document.getElementById('rfd1');
        let sol1 = document.getElementById('sol1');
        let client_id1 = document.getElementById('cl_id1');

        let drm_disp2_list = document.querySelectorAll('#drm_disp2');
        let rfd2_list = document.querySelectorAll('#rfd2');
        let sol2_list = document.querySelectorAll('#sol2');
        let client_id2_list = document.querySelectorAll('#cl_id2');

        if (opt_checkbox.checked) {
            drm_disp1.style.display = 'table-cell';
            rfd1.style.display = 'table-cell';
            sol1.style.display = 'table-cell';
            client_id1.style.display = 'table-cell';

            drm_disp2_list.forEach(function (drm_disp2) {
                drm_disp2.style.display = 'table-cell';
            });

            rfd2_list.forEach(function (rfd2) {
                rfd2.style.display = 'table-cell';
            });

            sol2_list.forEach(function (sol2) {
                sol2.style.display = 'table-cell';
            });

            client_id2_list.forEach(function (cl_id2) {
                cl_id2.style.display = 'table-cell';
            });
        } else {
            drm_disp1.style.display = 'none';
            rfd1.style.display = 'none';
            sol1.style.display = 'none';
            client_id1.style.display = 'none';

            drm_disp2_list.forEach(function (drm_disp2) {
                drm_disp2.style.display = 'none';
            });

            rfd2_list.forEach(function (rfd2) {
                rfd2.style.display = 'none';
            });

            sol2_list.forEach(function (sol2) {
                sol2.style.display = 'none';
            });

            client_id2_list.forEach(function (cl_id2) {
                cl_id2.style.display = 'none';
            });
        }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>
