<!DOCTYPE html>
<html lang="" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Design Status</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <style>
        .status-dropdown {
            color: white;
            border: 2px solid white;
            border-radius: 5px;
            padding: 3px;
            max-width: 70px;
            font-size: 11px;

        }

        .status-dropdown option {
            color: white;
        }

        th {
            background: white;
            position: sticky;
            top: 0;
        }

        #full_table {
            max-height: 800px;
            overflow: auto;
            float: left;
        }

        #searchInput {
            padding: 5px;
            margin-top: 10px;
            margin-left: 10px;
            width: 200px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        .container1 {
            display: flex;
            align-items: center;
        }

        .container1 div {
            margin-left: 10px;
        }

        .flex-container {
            display: flex;
            align-items: center;
            justify-content: flex-end; /* Adjust this if needed */
        }
    </style>
</head>
<body>
<div class="text-right flex-container">
    <label class="text-right" style="margin-right: 10px;margin-top: 13px;"><b>Hey, {{ user }}</b></label>
    {% if user.is_superuser %}
        <a href="newInsert" style="margin: 15px 0 0 5px;" class="btn btn-primary">Add CRM
        </a>
        <!-- Button To insert data -->
        <a href="{% url 'nwest_to_excel' %}" class="btn btn-success"
           style="margin: 15px 10px 0 10px;">Download Excel</a>
    {% endif %}
    <div class="dropdown" style="margin-top: 15px; margin-right: 25px;">
        <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Logout
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="logout">Logout</a></li>
            <li><a class="dropdown-item" href="change_password">Change Password</a></li>
        </ul>
    </div>
</div>
{#<input type="text" id="searchInput" placeholder="Search...">#}
{#<button onclick="searchTable()" id="sbtn">Search</button>#}
<div class="container-fluid">
    <div class="container1">
        <h2>Design Status</h2>
        <a href="newdesShow"><input type="button" class="btn btn-danger" value="Remove filter"
                                    style="display: inline-block; margin-left: 10px;"></a>
    </div>
    <div>
        <input type="checkbox" id="drm" onclick="dispcolumnns()" checked>
        <label for="drm">Show Other Fields</label>
    </div>
    <div class="table-responsive" id="full_table">
        <table class="table table-hover" style="display: inline;">
            <thead>
            <tr>
                <th>S.N</th>
                <th>Client Name</th>
                <th>Project Name</th>
                <th>Project ID</th>
                <th>Region/ Enquiry from</th>
                <th>Requirement</th>
                <th>Capacity / Length</th>
                <th id="drm_disp1" style="display: none">
                    Design Request Mode
                </th>
                <th>Sales Status</th>
                <th>Design Status</th>
                <th>Enquiry Date</th>
                <th>Installation Type</th>
                <th>Design Assigned To</th>
                <th>Design Assigned By</th>
                <th>Remarks</th>
                <th>Edit / Delete</th>
                <th>Solution</th>
                {#                <th id="dsg_ass1" style="display: none">Sales POC</th>#}
            </tr>
            </thead>
            {% if filtered_data %}
                <tbody>
                {% for i in filtered_data %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ i.client }}</td>
                        <td style="max-width: 100px; word-wrap: break-word;">{{ i.project_name }}</td>
                        <td>{{ i.project_id }}</td>
                        <td>{{ i.region }}<br>
                            <label style="font-style: italic">{{ i.enquiry_from }}</label></td>
                        <td>{{ i.client_requirements }}
                            <br>
                            {{ i.requirement_for_design }}
                            {% if i.document_files.all %}
                                <a href="{% url 'new_attachments' pk=i.sr %}" target="_blank">Attachment(s)</a>
                            {% endif %}</td>
                        <td>
                            {% if i.capacity %}
                                {{ i.capacity }} kWp
                            {% endif %}
                            {% if i.length_walkway %}
                                <br>
                                {{ i.length_walkway }} Mtr
                            {% endif %}
                            {% if i.length_handrail %}
                                <br>
                                {{ i.length_handrail }} Mtr
                            {% endif %}
                        </td>
                        <td id="drm_disp2" style="display: none">
                            {{ i.design_request }} </td>
                        <td>
                            {{ i.sales_status }}
                        </td>
                        <td style="background-color: {% if i.design_status == 'To Start' %}red{% elif i.design_status == 'WIP' %}darkorange{% elif i.design_status == 'Hold' %}gold{% elif i.design_status == 'Done' %}green{% elif i.design_status == "Dropped" %}gray{% else %}red{% endif %}">
                            {% if i.design_intervention == 'Yes' %}
                                <form name="nwestshowpageUpdate" action="{% url 'nwestshowpageUpdate' pk=i.sr %}"
                                      method="post">
                                    {% csrf_token %}
                                    <select id="design_status1" name="design_status1" onchange="submitForm(this.form)"
                                            class="status-dropdown"
                                            {% if not request.user.is_superuser and i.design_assigned != request.user.username %}disabled{% endif %}
                                            style="background-color: {% if i.design_status == 'To Start' %}red{% elif i.design_status == 'WIP' %}darkorange{% elif i.design_status == 'Hold' %}gold{% elif i.design_status == 'Done' %}green{% elif i.design_status == "Dropped" %}gray{% else %}red{% endif %}">
                                        <option value="To Start"
                                                {% if i.design_status == "To Start" %}selected{% endif %}>To Start
                                        </option>
                                        <option value="WIP"
                                                {% if i.design_status == "WIP" %}selected{% endif %}>WIP
                                        </option>
                                        <option value="Hold"
                                                {% if i.design_status == "Hold" %}selected{% endif %}>Hold
                                        </option>
                                        <option value="Done" {% if i.design_status == "Done" %}selected{% endif %}>
                                            Done
                                        </option>
                                        <option value="Dropped" {% if i.design_status == "Dropped" %}selected{% endif %}>
                                            Dropped
                                        </option>
                                    </select>
                                </form>
                            {% endif %}
                        </td>
                        <td>{{ i.crm_entry_date_formatted }}</td>
                        <td>{{ i.installation_type }}</td>
                        <td>{{ i.design_assigned }}<br>
                            {{ i.ds_assigned_date }}</td>
                        <td>{{ i.ds_assigned_by }}</td>
                        <td>
                            {% if i.remarks %}
                                <a onclick="DisplayPopup('{{ i.sr }}')" href="#">Read Remarks</a>
                                <dialog id="remark-popup-{{ i.sr }}" class="remark-popup">
                                    <label>{{ i.remarks }}</label><br>
                                    <input type="button" class="btn btn-danger" value="Close"
                                           onclick="ClosePopup('{{ i.sr }}')">
                                </dialog>
                            {% else %}
                                Nil
                            {% endif %}
                        </td>
                        <td>
                            <a name="EditForm" href="{% url 'nwestedit' pk=i.sr %}">
                                Edit
                            </a><br>
                            <a href="#" onclick="DisplayRevisionPopup('{{ i.sr }}')">Revise</a>
                            <dialog id="revision-popup-{{ i.sr }}">
                                <a href="{% url 'nwestRevisionP' pk=i.sr %}">
                                    Add Revision
                                </a><br>
                                <a href="{% url 'show_revisions' pk=i.sr %}" target="_blank">Show Revision</a>
                                <input type="button" class="btn btn-danger" value="Close"
                                       onclick="CloseRevisionPopup('{{ i.sr }}')" style="margin-left: 10px;">
                            </dialog>
                            {% if user.is_superuser %}
                            <a onclick="DisplayDeletePopup('{{ i.sr }}')" href="#">
                                {#                                <input type="submit" class="btn btn-danger" value="Delete"#}
                                {#                                       style="width: 50px; padding: 0; margin-top: 5px;">#}Delete
                            </a>
                            {% endif %}
                            <dialog id="delete-popup-{{ i.sr }}">
                                <label>Are you sure, you want to delete?</label><br>
                                <a name="DeleteForm" href="{% url 'newDelete' pk=i.sr %}">
                                    <input type="button" class="btn btn-success" value="Yes">
                                </a>
                                <input type="button" class="btn btn-danger" value="No"
                                       onclick="CloseDeletePopup('{{ i.sr }}')" style="margin-left: 10px;">
                            </dialog>
                        </td>
                        <td><a onclick="DisplaySolutionPopup('{{ i.sr }}')" href="#">Add</a>
                            <dialog id="solution-popup-{{ i.sr }}">
                                <form method="POST" action="{% url 'nwadd_solutions' pk=i.sr %}"
                                      enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <label><b>Add Solutions</b></label><br>
                                    {% if 'RCC' in i.installation_type %}
                                        <label><b>RCC</b></label>
                                        <div class="form-inline d-flex align-items-center" style="margin-top: 10px;">
                                            <label>GA, Part Drawing</label>
                                            <input class="form-control" type="file" id="ga_sol" name="ga_sol" multiple
                                                   style="margin-left: 10px;">
                                        </div>
                                        <div class="form-inline d-flex align-items-center" style="margin-top: 10px;">
                                            <label>Costing</label>
                                            <input class="form-control" type="file" id="costing_sol" name="costing_sol"
                                                   multiple style="margin-left: 10px;">
                                        </div>
                                        <div class="form-inline d-flex align-items-center" style="margin-top: 10px;">
                                            <label>BOM</label>
                                            <input class="form-control" type="file" id="bom_sol" name="bom_sol" multiple
                                                   style="margin-left: 10px;">
                                        </div>
                                        <div class="form-inline d-flex align-items-center" style="margin-top: 10px;">
                                            <label>FEA/Staad Analysis Report</label>
                                            <input class="form-control" type="file" id="fea_staad_sol"
                                                   name="fea_staad_sol"
                                                   multiple style="margin-left: 10px;">
                                        </div>
                                        <div class="form-inline d-flex align-items-center" style="margin-top: 10px;">
                                            <label>Installation Layout</label>
                                            <input class="form-control" type="file" id="layout_sol" name="layout_sol"
                                                   multiple style="margin-left: 10px;">
                                        </div>
                                        <div class="form-inline d-flex align-items-center" style="margin-top: 10px;">
                                            <label>Installation Manual</label>
                                            <input class="form-control" type="file" id="inst_manual_sol"
                                                   name="inst_manual_sol" multiple style="margin-left: 10px;">
                                        </div>
                                    {% endif %}
                                    <!-- Ground Mount Section -->
                                    {% if 'Ground Mount' in i.installation_type %}
                                        <label><b>Ground Mount</b></label>
                                        <div class="form-inline d-flex align-items-center" style="margin-top: 10px;">
                                            <label>GA, Part Drawing</label>
                                            <input class="form-control" type="file" id="gm_ga_sol" name="gm_ga_sol"
                                                   multiple
                                                   style="margin-left: 10px;">
                                        </div>
                                        <div class="form-inline d-flex align-items-center" style="margin-top: 10px;">
                                            <label>Costing</label>
                                            <input class="form-control" type="file" id="gm_costing_sol"
                                                   name="gm_costing_sol" multiple style="margin-left: 10px;">
                                        </div>
                                        <div class="form-inline d-flex align-items-center" style="margin-top: 10px;">
                                            <label>BOM</label>
                                            <input class="form-control" type="file" id="gm_bom_sol" name="gm_bom_sol"
                                                   multiple style="margin-left: 10px;">
                                        </div>
                                        <div class="form-inline d-flex align-items-center" style="margin-top: 10px;">
                                            <label>FEA/Staad Analysis Report</label>
                                            <input class="form-control" type="file" id="gm_fea_staad_sol"
                                                   name="gm_fea_staad_sol" multiple style="margin-left: 10px;">
                                        </div>
                                        <div class="form-inline d-flex align-items-center" style="margin-top: 10px;">
                                            <label>Installation Layout</label>
                                            <input class="form-control" type="file" id="gm_layout_sol"
                                                   name="gm_layout_sol"
                                                   multiple style="margin-left: 10px;">
                                        </div>
                                        <div class="form-inline d-flex align-items-center" style="margin-top: 10px;">
                                            <label>Installation Manual</label>
                                            <input class="form-control" type="file" id="gm_inst_manual_sol"
                                                   name="gm_inst_manual_sol" multiple style="margin-left: 10px;">
                                        </div>
                                    {% endif %}
                                    {% if 'Industrial Shed' in i.installation_type %}
                                        <!-- Industrial Shed Section -->
                                        <label><b>Industrial Shed</b></label>
                                        <div class="form-inline d-flex align-items-center" style="margin-top: 10px;">
                                            <label>GA, Part Drawing</label>
                                            <input class="form-control" type="file" id="is_ga_sol" name="is_ga_sol"
                                                   multiple
                                                   style="margin-left: 10px;">
                                        </div>
                                        <div class="form-inline d-flex align-items-center" style="margin-top: 10px;">
                                            <label>Costing</label>
                                            <input class="form-control" type="file" id="is_costing_sol"
                                                   name="is_costing_sol" multiple style="margin-left: 10px;">
                                        </div>
                                        <div class="form-inline d-flex align-items-center" style="margin-top: 10px;">
                                            <label>BOM</label>
                                            <input class="form-control" type="file" id="is_bom_sol" name="is_bom_sol"
                                                   multiple style="margin-left: 10px;">
                                        </div>
                                        <div class="form-inline d-flex align-items-center" style="margin-top: 10px;">
                                            <label>FEA/Staad Analysis Report</label>
                                            <input class="form-control" type="file" id="is_fea_staad_sol"
                                                   name="is_fea_staad_sol" multiple style="margin-left: 10px;">
                                        </div>
                                        <div class="form-inline d-flex align-items-center" style="margin-top: 10px;">
                                            <label>Installation Layout</label>
                                            <input class="form-control" type="file" id="is_layout_sol"
                                                   name="is_layout_sol"
                                                   multiple style="margin-left: 10px;">
                                        </div>
                                        <div class="form-inline d-flex align-items-center" style="margin-top: 10px;">
                                            <label>Installation Manual</label>
                                            <input class="form-control" type="file" id="is_inst_manual_sol"
                                                   name="is_inst_manual_sol" multiple style="margin-left: 10px;">
                                        </div>
                                    {% endif %}
                                    <input type="submit" class="btn btn-success" value="Submit"
                                           style="margin-top: 10px;">
                                    <input type="button" class="btn btn-danger" value="Close"
                                           onclick="CloseSolutionPopup('{{ i.sr }}')" style="margin-top: 10px;">
                                </form>
                            </dialog>
                        </td>
                        {#                        <td id="dsg_ass2" style="display: none">{{ i.design_assigned }}</td>#}
                    </tr>
                {% endfor %}
                </tbody>
            {% endif %}
        </table>
    </div>
</div>
<script>
    function submitForm(form) {
        form.submit();
    }
</script>
<script>
    function searchTable() {
        // Get the input value entered by the user
        let input = document.getElementById("searchInput");
        let filter = input.value.toUpperCase();

        // Get all tables with the specified class
        let tables = document.getElementsByClassName("table table-hover");

        // Loop through each table
        for (let t = 0; t < tables.length; t++) {
            let table = tables[t];
            // Get all rows of the table
            let rows = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those that don't match the search query
            for (let i = 0; i < rows.length; i++) {
                let cells = rows[i].getElementsByTagName("td");
                let found = false;
                for (let j = 0; j < cells.length; j++) {
                    let cell = cells[j];
                    if (cell) {
                        let txtValue = cell.textContent || cell.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            found = true;
                            break;
                        }
                    }
                }
                // Toggle the display of the row based on whether it matches the search query
                if (found) {
                    rows[i].style.display = "";
                } else {
                    rows[i].style.display = "none";
                }
            }
        }
    }
</script>
<script>
    // Place this code just before the closing </body> tag or use a defer/async attribute
    const toggleLinks = document.querySelectorAll(".toggle-more");

    toggleLinks.forEach((link) => {
        link.addEventListener("click", (event) => {
            event.preventDefault();
            event.stopPropagation(); // Prevent event propagation
            const limitedText = link.parentElement.querySelector(".limited-text");
            const seeMore = link.previousElementSibling; // Adjusted to select the previous sibling

            if (seeMore.style.display === "none") {
                seeMore.style.display = "inline";
                limitedText.style.display = "none";
                link.textContent = "See Less";
            } else {
                seeMore.style.display = "none";
                limitedText.style.display = "inline";
                link.textContent = "See More";
            }
        });
    });
</script>
<script>
    function DisplayPopup(id) {
        let dialog = document.getElementById('remark-popup-' + id);
        dialog.showModal();
    }

    function ClosePopup(id) {
        let dialog = document.getElementById('remark-popup-' + id);
        dialog.close();
    }

    function DisplayDeletePopup(id) {
        let dialog = document.getElementById('delete-popup-' + id);
        dialog.showModal();
    }

    function CloseDeletePopup(id) {
        let dialog = document.getElementById('delete-popup-' + id);
        dialog.close();
    }

    function DisplaySolutionPopup(id) {
        let dialog = document.getElementById('solution-popup-' + id);
        dialog.showModal();
    }

    function CloseSolutionPopup(id) {
        let dialog = document.getElementById('solution-popup-' + id);
        dialog.close();
    }

    function DisplayRevisionPopup(id) {
        let dialog = document.getElementById('revision-popup-' + id);
        dialog.showModal();
    }

    function CloseRevisionPopup(id) {
        let dialog = document.getElementById('revision-popup-' + id);
        dialog.close();
    }

    function dispdatefilter() {
        let date_div = document.getElementById('date_div');
        date_div.style.display = "inline"
    }

    function display_filters() {
        let filter = document.getElementById('filters');
        let design_status = document.getElementById('design_status_filter_div')
        let region = document.getElementById('region_filter_div')
        if (filter.value === "Design Status") {
            design_status.style.display = "inline";
            region.style.display = "none";
        } else if (filter.value === "Region") {
            design_status.style.display = "none";
            region.style.display = "inline";
        }
    }

    dispcolumnns()

    function dispcolumnns() {
        // drm = design request mode
        let opt_checkbox = document.getElementById('drm');

        let drm_disp1 = document.getElementById('drm_disp1');

        let drm_disp2_list = document.querySelectorAll('#drm_disp2');

        if (opt_checkbox.checked) {
            drm_disp1.style.display = 'table-cell';

            drm_disp2_list.forEach(function (drm_disp2) {
                drm_disp2.style.display = 'table-cell';
            });

        } else {
            drm_disp1.style.display = 'none';

            drm_disp2_list.forEach(function (drm_disp2) {
                drm_disp2.style.display = 'none';
            });

        }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>
