<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRM Entry</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!-- Popper.js, required for Bootstrap's JavaScript plugins -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        #clientreq_otherinp, #drawingreq_otherinp, #designreq_otherinp {
            width: 20%;
            border: none;
            display: none;
            border-bottom: 1px solid #000;
            outline: none
        }

        .checkbox-container {
            display: inline-block;
            /* Adjust margin as needed */
        }

        input[type="text"] {
            width: 30%;
        }

        /* Specific styling for the unique form-group */
        .form-group.client-group {
            display: flex;
            align-items: center; /* Align items vertically center */
        }

        .form-group.client-group label {
            margin-right: 10px; /* Space between label and input */
            white-space: nowrap; /* Prevent label text from wrapping */
        }

        .autocomplete-suggestions {
            /* border: 1px solid #ddd; */
            max-height: 150px;
            overflow-y: auto;
            position: absolute;
            background-color: white;
            top: 35px; /* Adjust this value as needed */
            left: 0;
            right: 0;
            z-index: 400;
            margin-top: 50px;
        }

        .autocomplete-suggestion {
            padding: 10px;
            cursor: pointer;
        }

        .autocomplete-suggestion:hover {
            background-color: #ddd;
        }

        /* For Webkit browsers (Chrome, Safari, Edge) */
        input[type="number"]::-webkit-outer-spin-button,
        input[type="number"]::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* For Firefox */
        input[type="number"] {
            -moz-appearance: textfield;
        }


    </style>
</head>
<body>
<div class="container-fluid">
    <div class="row ">
        <div class="col-md-10">
            <h2 class="mb-2" style="display: inline-block;">CRM Entry</h2> <!-- Reduced margin -->
            <a href="newDesign" style="margin: 0 0 10px 10px; font-size: 20px;"><u>CRM List</u></a>
            <form action="{% url 'NInsertData' %}" method="POST" onsubmit="return validateCheckboxes()"
                  enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group client-group mb-1"> <!-- Reduced margin -->
                    <label for="client"><b>Client:*</b></label>
                    <input type="text" class="form-control" id="client" name="client" required>
                    <div id="autocomplete-suggestions" class="autocomplete-suggestions"></div>
                    <label for="project_name" style="margin-left: 10px"><b>Project Name:*</b></label>
                    <input type="text" class="form-control" id="project_name" name="project_name" required>
                </div>
                <div id="" class="form-group mb-1">
                    <label><b>Project Location:*</b></label>
                    <input type="radio" id="domestic" name="project_location" onclick="project_location_disp()"
                           value="Domestic" required>
                    <label for="domestic">Domestic</label>
                    <input type="radio" id="international" name="project_location" onclick="project_location_disp()"
                           value="International" required>
                    <label for="international">International</label>
                    <div class="form-group client-group mb-1" id="domestic_div" style="display: none">
                        <label for="domestic_opt"><b>Select States:*</b></label>
                        <select class="form-control" id="domestic_opt" name="domestic_opt" style="width: 20%;">
                            <option value="Andhra Pradesh">Andhra Pradesh</option>
                            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                            <option value="Assam">Assam</option>
                            <option value="Bihar">Bihar</option>
                            <option value="Chhattisgarh">Chhattisgarh</option>
                            <option value="Goa">Goa</option>
                            <option value="Gujarat">Gujarat</option>
                            <option value="Haryana">Haryana</option>
                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                            <option value="Jharkhand">Jharkhand</option>
                            <option value="Karnataka">Karnataka</option>
                            <option value="Kerala">Kerala</option>
                            <option value="Madhya Pradesh">Madhya Pradesh</option>
                            <option value="Maharashtra">Maharashtra</option>
                            <option value="Manipur">Manipur</option>
                            <option value="Meghalaya">Meghalaya</option>
                            <option value="Mizoram">Mizoram</option>
                            <option value="Nagaland">Nagaland</option>
                            <option value="Odisha">Odisha</option>
                            <option value="Punjab">Punjab</option>
                            <option value="Rajasthan">Rajasthan</option>
                            <option value="Sikkim">Sikkim</option>
                            <option value="Tamil Nadu">Tamil Nadu</option>
                            <option value="Telangana">Telangana</option>
                            <option value="Tripura">Tripura</option>
                            <option value="Uttar Pradesh">Uttar Pradesh</option>
                            <option value="Uttarakhand">Uttarakhand</option>
                            <option value="West Bengal">West Bengal</option>
                            <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                            <option value="Chandigarh">Chandigarh</option>
                            <option value="Dadra and Nagar Haveli and Daman and Diu">Dadra and Nagar Haveli and Daman
                                and Diu
                            </option>
                            <option value="Delhi">Delhi</option>
                            <option value="Lakshadweep">Lakshadweep</option>
                            <option value="Puducherry">Puducherry</option>
                            <option value="Ladakh">Ladakh</option>
                            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                        </select>
                    </div>
                    <div class="form-group client-group mb-1" id="international_div" style="display: none">
                        <label><b>Enter Country Name:*</b></label>
                        <input type="text" class="form-control" id="international_inp" name="international_inp"
                               oninput="this.value = this.value.replace(/^\s+/, '')">
                    </div>
                </div>
                <div class="form-group mb-1">
                    <label for=""><b>Client Requirement:*</b></label>
                    <input type="checkbox" id="mms" name="mms" value="mms" onclick="capacity_disp()"
                           class="client-requirement-cb">
                    <label for="mms">MMS</label>
                    <input type="checkbox" id="walkway" name="walkway" value="walkway" onclick="capacity_disp()"
                           class="client-requirement-cb">
                    <label for="walkway">Walkway</label>
                    <input type="checkbox" id="handrail" name="handrail" value="handrail" onclick="capacity_disp()"
                           class="client-requirement-cb">
                    <label for="handrail">Handrail</label>
                    <input type="checkbox" id="carport" name="carport" value="carport" onclick="capacity_disp()"
                           class="client-requirement-cb">
                    <label for="carport">Carport</label>
                    <input type="checkbox" id="clientreq_other" name="clientreq_other" value="Other"
                           class="client-requirement-cb">
                    <label for="clientreq_other">Other</label>
                    <input type="text" placeholder="Specify other"
                           id="clientreq_otherinp" name="clientreq_otherinp">
                </div>
                <div class="form-group client-group mb-1"> <!-- Reduced margin -->
                    <label for="capacity"><b>Capacity(in kWp):</b></label>
                    <input type="number" style="width: 20%" class="form-control" id="capacity" name="capacity"
                           disabled step="0.01">
                    <label for="length_walkway" style="margin-left: 10px;"><b>Length Of Walkway(In mtr):</b></label>
                    <input type="number" style="width: 20%" class="form-control" id="length_walkway"
                           name="length_walkway"
                           disabled step="0.01">
                    <label for="length_handrail" style="margin-left: 10px;"><b>Length Of Handrail(In mtr):</b></label>
                    <input type="number" style="width: 20%" class="form-control" id="length_handrail"
                           name="length_handrail" disabled step="0.01">
                </div>
                <div class="form-group mb-1">
                    <label for=""><b>Installation Type:*</b></label>
                    <div id="rccdiv" class="checkbox-container">
                        <input type="checkbox" id="rcc" name="rcc" value="Rcc"
                               onclick="subcategorydisp()" disabled class="installation-type-cb">
                        <label for="rcc">RCC</label>
                    </div>
                    <div id="groundmountdiv" class="checkbox-container">
                        <input type="checkbox" id="groundmount" name="groundmount" value="Ground Mount"
                               onclick="subcategorydisp()" disabled class="installation-type-cb">
                        <label for="groundmount">Ground Mount</label>
                    </div>
                    <div id="industrialsheddiv" class="checkbox-container">
                        <input type="checkbox" id="industrialshed" name="industrialshed"
                               value="Industrial Shed" onclick="subcategorydisp()" disabled
                               class="installation-type-cb">
                        <label for="industrialshed">Industrial Shed</label>
                    </div>
                </div>
                <div class="form-group mb-1">
                    <label for=""><b>Installation Type(Sub Category):</b></label>
                    <br>
                    <div id="rcc_sub_div" style="display: none">
                        <div style="display: flex">
                            <div style="display: flex; width: 350px">
                                <label for=""><b>Table Configuration:</b></label>
                                <input style="margin-left: 5px; margin-bottom: 5px;" type="checkbox" id="rcc_1P"
                                       name="rcc_1P" value="1P">
                                <label style="margin-left: 5px;" for="rcc_1P">1P</label>
                                <input style="margin-left: 5px; margin-bottom: 5px" type="checkbox" id="rcc_2P"
                                       name="rcc_2P" value="2P">
                                <label style="margin-left: 5px;" for="rcc_2P">2P</label>
                                <input style="margin-left: 5px; margin-bottom: 5px" type="checkbox" id="rcc_3P"
                                       name="rcc_3P" value="3P">
                                <label style="margin-left: 5px;" for="rcc_3P">3P</label>
                            </div>
                            <div>
                                <div style="display: flex; margin-left: 10px;">
                                    <label for="tilt_angle"><b>Tilt Angle:</b></label>
                                    <input type="number" style="margin-left: 10px; width: 15%; height: 25px"
                                           class="form-control" id="tilt_angle" name="tilt_angle">
                                    <label for="ground_clearance" style="margin-left: 10px;"><b>Ground
                                        Clearance:</b></label>
                                    <input type="number" style="margin-left: 10px; width: 15%; height: 25px"
                                           class="form-control" id="ground_clearance" name="ground_clearance">
                                    <label for="ground_clearance" style="margin-left: 10px;"><b>Age Of Roof:</b></label>
                                    <input type="number" style="margin-left: 10px; width: 15%; height: 25px"
                                           class="form-control" id="ground_clearance" name="ground_clearance">
                                </div>
                            </div>
                        </div>
                        <div style="display: flex;">
                            <label style="margin-top: 7px;"><b>Module Datasheet: </b></label>
                            <input type="file" class="form-control"
                                   style="margin-left: 10px; width: 20%; padding-bottom: 10px;" multiple>
                        </div>
                        <div style="display: flex; margin-top: 5px;">
                            <label><b>Roof Penetration Allowed: &nbsp;</b></label>
                            <input type="radio" style="margin-bottom: 5px;" id="roof_penetration_yes" value="Yes"
                                   name="roof_penetration">
                            <label for="roof_penetration_yes" style="margin-left: 5px;">Yes</label>
                            <input type="radio" style="margin-bottom: 5px; margin-left: 5px;" id="roof_penetration_no"
                                   value="No" name="roof_penetration">
                            <label for="roof_penetration_no" style="margin-left: 5px;">No</label>
                            <div style="display: flex; margin-left: 5px;">
                                <label><b>Thickness Of Weathering Course/Waterproofing:</b></label>
                                <input type="number" style="margin-left: 10px; width: 15%; height: 25px"
                                       class="form-control" id="waterproofing_thick" name="waterproofing_thick">
                                <input type="checkbox" style="margin-left: 5px; margin-bottom: 5px;"
                                       id="waterproof_default" name="waterproof_default" >
                                <label style="margin-left: 5px;" for="waterproof_default">Default</label>
                            </div>
                        </div>
                        <div style="display: flex;">
                            <label style=""><b>Thickness Of Motherslab:</b></label>
                            <input type="number" style="margin-left: 10px; width: 10%; height: 25px"
                                   class="form-control" id="waterproofing_thick" name="waterproofing_thick">
                        </div>

                    </div>
                </div>
                <div id="groundmount_subdiv" style="display: none" class="form-group mb-1">
                    <label for=""><b>Sub Category For Ground Mount:</b></label>
                    <input type="checkbox" id="groundmount_normal" name="groundmount_normal"
                           value="Normal(GC Below 1mtr)">
                    <label for="groundmount_normal">Normal(GC Below 1mtr)</label>
                    <input type="checkbox" id="groundmount_eleveated" name="groundmount_eleveated"
                           value="Elevated(GC Below 1mtr)">
                    <label for="groundmount_eleveated">Elevated(GC Below 1mtr)</label>
                    <input type="checkbox" id="Bifacial" name="Bifacial" value="Bifacial">
                    <label for="Bifacial">Bifacial</label>
                </div>
                <div id="idustrialshed_subdiv" style="display: none" class="form-group mb-1">
                    <label for=""><b>Sub Category For Industrial Shed:</b></label>
                    <input type="checkbox" id="trapezoid_mr" name="trapezoid_mr"
                           value="Trapezoidal Metal Roof" onclick="trapezoid_standingseam_disp()">
                    <label for="trapezoid_mr">Trapezoidal Metal Roof</label>
                    <input type="checkbox" id="standing_seam_mf" name="standing_seam_mf"
                           value="Standing Seam Metal Roof" onclick="trapezoid_standingseam_disp()">
                    <label for="standing_seam_mf">Standing Seam Metal Roof</label>
                    <input type="checkbox" id="sinusoidal_roof" name="sinusoidal_roof"
                           value="Sinusoidal Roof(Both Metal & Roof)">
                    <label for="sinusoidal_roof">Sinusoidal Roof(Both Metal & Cement Roof)</label>
                </div>
                <br>
                <div id="trapezoid_div" style="display: none" class="form-group mb-1">
                    <label><b>Trapezoidal Curved:</b></label>
                    <input type="checkbox" id="curve" name="curve" value="Curved">
                    <label for="curve">Curved</label>
                    <input type="checkbox" id="not_curve" name="not_curve" value="Not Curved">
                    <label for="not_curve">Not Curved</label>
                </div>
                <div id="standingseam_div" style="display: none" class="form-group mb-1">
                    <label><b>Standing Seam Curved:</b></label>
                    <input type="checkbox" id="standingseam_curve" name="standingseam_curve" value="Curved">
                    <label for="standingseam_curve">Curved</label>
                    <input type="checkbox" id="standingseam_not_curve" name="standingseam_not_curve" value="Not Curved">
                    <label for="standingseam_not_curve">Not Curved</label>
                </div>
                <div id="" class="form-group mb-1">
                    <label><b>Design team intervention needed?*</b></label>
                    <input type="radio" id="yes" name="design_intervention" onclick="design_requestdisp()" value="Yes"
                           required>
                    <label for="yes">Yes</label>
                    <input type="radio" id="no" name="design_intervention" onclick="design_requestdisp()" value="No"
                           required>
                    <label for="no">No</label>
                </div>
                <div id="design_requestdiv" style="display: none;" class="form-group mb-1">
                    <label><b>Design Request Mode:*</b></label>
                    <input type="checkbox" id="email" name="email" value="Email" class="drm-cb">
                    <label for="email">Email</label>
                    <input type="checkbox" id="call" name="call" value="Call" class="drm-cb">
                    <label for="call">Call</label>
                    <input type="checkbox" id="whatsapp" name="whatsapp" value="Whatsapp" class="drm-cb">
                    <label for="whatsapp">Whatsapp</label>
                    <input type="checkbox" id="designreq_other" name="designreq_other"
                           value="Other" onclick="designreq_otherdisp()" class="drm-cb">
                    <label for="designreq_other">Other</label>
                    <input type="text" placeholder="Specify other"
                           id="designreq_otherinp" name="designreq_otherinp">
                </div>
                <div id="drawing_requestdiv" style="display: none;" class="form-group mb-1">
                    <br>
                    <label><b>Requirement For Design:*</b></label>
                    <input type="checkbox" id="ga" name="ga" value="GA" class="rfd-cb">
                    <label for="ga">GA</label>
                    <input type="checkbox" id="costing" name="costing" value="Costing" class="rfd-cb">
                    <label for="costing">Costing</label>
                    <input type="checkbox" id="bom" name="bom" value="BOM" class="rfd-cb">
                    <label for="bom">BOM</label>
                    <input type="checkbox" id="fea_staad_report" name="fea_staad_report"
                           value="FEA/Staad Report" class="rfd-cb">
                    <label for="fea_staad_report">FEA/Staad Report</label>
                    <input type="checkbox" id="layout" name="layout" value="Layout" class="rfd-cb">
                    <label for="layout">Layout</label>
                    <input type="checkbox" id="installation_manual" name="installation_manual"
                           value="Installation Manual" class="rfd-cb">
                    <label for="installation_manual">Installation Manual</label>
                    <input type="checkbox" id="drawingreq_other" name="drawingreq_other"
                           value="Other" onclick="drawingreq_otherdisp()" class="rfd-cb">
                    <label for="drawingreq_other">Other</label>
                    <input type="text" placeholder="Specify other"
                           id="drawingreq_otherinp" name="drawingreq_otherinp">
                </div>
                <div class="form-group mb-1">
                    <label style="margin-top: 10px;" id="upload_file"><b>Upload File(Optional):</b> </label><br>
                    <button type="button" class="btn btn-secondary"
                            onclick="document.getElementById('document_file').click()">Add Files
                    </button>
                    <input type="file" id="document_file" name="document_file" multiple style="display: none;"
                           onchange="displaySelectedFiles()">
                    <div id="selected_files"></div>
                </div>
                {% if show_region_select %}
                    <div class="form-group client-group mb-1">
                        <label><b>Region:*</b></label>
                        <select class="form-control" id="region" name="region" style="width: 20%;" required>
                            <option value="" style="display: none"></option>
                            <option value="West">West</option>
                            <option value="South">South</option>
                            <option value="North">North</option>
                            <option value="North">International</option>
                        </select>
                    </div>
                {% endif %}
                <div class="form-group mb-1">
                    <label for="remarks"><b>Additional Instructions(if any):</b></label>
                    <textarea type="text" rows="3" class="form-control" id="remarks" name="remarks"></textarea>
                </div>
                <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Add to CRM</button>
                <a href="newDesign">
                    <button type="button" class="btn btn-secondary" style="margin-top: 10px;">CRM List</button>
                </a>
            </form>
            <br>
        </div>
    </div>
</div>
<script>
    // function to disply the selected files
    function displaySelectedFiles() {
        let input = document.getElementById('document_file');
        let output = document.getElementById('selected_files');
        let files = input.files;

        output.innerHTML = ""; // clear previous content
        for (let i = 0; i < files.length; i++) {
            output.innerHTML += '<p>' + files[i].name + '</p>';
        }
    }

    function subcategorydisp() {
        const rcc = document.getElementById('rcc');
        const groundmount = document.getElementById('groundmount');
        const Industrial_shed = document.getElementById('industrialshed');

        const rcc_sub_div = document.getElementById('rcc_sub_div');
        const groundmount_subdiv = document.getElementById('groundmount_subdiv');
        const idustrialshed_subdiv = document.getElementById('idustrialshed_subdiv');

        if (rcc.checked) {
            rcc_sub_div.style.display = "inline-block"
        } else {
            rcc_sub_div.style.display = "none"
        }
        if (groundmount.checked) {
            groundmount_subdiv.style.display = "inline-block"
        } else {
            groundmount_subdiv.style.display = "none"
        }
        if (Industrial_shed.checked) {
            idustrialshed_subdiv.style.display = "inline-block"
        } else {
            idustrialshed_subdiv.style.display = "none"
        }

    }

    function trapezoid_standingseam_disp() {
        let trapezoid = document.getElementById('trapezoid_mr');
        let standing_seam = document.getElementById('standing_seam_mf');

        let trapezoid_standingseam_div = document.getElementById('trapezoid_div');
        let standingseam_div = document.getElementById('standingseam_div');

        if (trapezoid.checked) {
            trapezoid_standingseam_div.style.display = "inline-block";
        } else {
            trapezoid_standingseam_div.style.display = "none";
        }
        if (standing_seam.checked) {
            standingseam_div.style.display = "inline-block";
        } else {
            standingseam_div.style.display = "none";
        }
    }

    function drawingreq_otherdisp() {
        let drawingreq_other = document.getElementById('drawingreq_other');
        let drawingreq_otherinp = document.getElementById('drawingreq_otherinp');

        if (drawingreq_other.checked) {
            drawingreq_otherinp.style.display = "inline";
        } else {
            drawingreq_otherinp.style.display = "none";
        }
    }

    function designreq_otherdisp() {
        let designreq_other = document.getElementById('designreq_other');
        let designreq_otherinp = document.getElementById('designreq_otherinp');

        if (designreq_other.checked) {
            designreq_otherinp.style.display = "inline"
        } else {
            designreq_otherinp.style.display = "none"
        }
    }

    function design_requestdisp() {
        let yes_radiobutton = document.getElementById('yes');
        let no_radiobutton = document.getElementById('no');
        let design_requestdiv = document.getElementById('design_requestdiv');
        let drawing_requestdiv = document.getElementById('drawing_requestdiv');

        let input_label = document.getElementById('upload_file');

        if (yes_radiobutton.checked) {
            design_requestdiv.style.display = "inline";
            drawing_requestdiv.style.display = "inline";
            input_label.innerHTML = "<b>Upload File(Mandatory):</b>"
        }
        if (no_radiobutton.checked) {
            design_requestdiv.style.display = "none";
            drawing_requestdiv.style.display = "none";
            input_label.innerHTML = "<b>Upload File(Optional):</b>"
        }
    }

    function capacity_disp() {
        let mms = document.getElementById('mms');
        let walkway = document.getElementById('walkway');
        let handrail = document.getElementById('handrail');
        let carport = document.getElementById('carport');

        let capacity = document.getElementById('capacity');
        let length_walkway = document.getElementById('length_walkway');
        let length_handrail = document.getElementById('length_handrail');

        if (mms.checked || carport.checked) {
            capacity.disabled = false;
            capacity.required = true;
        } else {
            capacity.disabled = true;
            capacity.required = false;
        }
        if (walkway.checked) {
            length_walkway.disabled = false;
            length_walkway.required = true;
        } else {
            length_walkway.disabled = true;
            length_walkway.required = false;
        }
        if (handrail.checked) {
            length_handrail.disabled = false;
            handrail.required = true;
        } else {
            length_handrail.disabled = true;
            handrail.required = false;
        }
    }

    function project_location_disp() {
        let domestic = document.getElementById('domestic');
        let domestic_opt = document.getElementById('domestic_opt');
        let international_inp = document.getElementById('international_inp');
        let international_value = document.getElementById('international_inp').value;

        let domestic_div = document.getElementById('domestic_div');
        let international_div = document.getElementById('international_div');

        if (domestic.checked) {
            domestic_div.style.display = "flex";
            international_div.style.display = "none";
            domestic_opt.required = true;
            international_inp.required = false;
        } else {
            domestic_div.style.display = "none";
            international_div.style.display = "flex";
            domestic_opt.required = false;
            international_inp.required = true;
        }
    }
</script>
<script>
    const mmsCheckbox = document.getElementById('mms');
    const walkwayCheckbox = document.getElementById('walkway');
    const handrailCheckbox = document.getElementById('handrail');
    const carportCheckbox = document.getElementById('carport');
    const otherCheckbox = document.getElementById('clientreq_other');
    const otherInput = document.getElementById('clientreq_otherinp');

    const rccCheckbox = document.getElementById('rcc');
    const groundmountCheckbox = document.getElementById('groundmount');
    const industrialshedCheckbox = document.getElementById('industrialshed');

    // Function to update visibility of checkboxes based on user selection
    function updateCheckboxVisibility() {
        // Enable all checkboxes at the beginning
        rccCheckbox.disabled = true;
        groundmountCheckbox.disabled = true;
        industrialshedCheckbox.disabled = true;

        // Check conditions and enable relevant checkboxes
        if (mmsCheckbox.checked) {
            rccCheckbox.disabled = false;
            groundmountCheckbox.disabled = false;
            industrialshedCheckbox.disabled = false;
        }
        if (handrailCheckbox.checked || walkwayCheckbox.checked) {
            industrialshedCheckbox.disabled = false;
        }
        if (carportCheckbox.checked) {
            rccCheckbox.disabled = false;
            groundmountCheckbox.disabled = false;
        }
        if (otherCheckbox.checked) {
            otherInput.style.display = 'inline-block';
            otherInput.required = true; // Make the input field required
            rccCheckbox.disabled = false;
            groundmountCheckbox.disabled = false;
            industrialshedCheckbox.disabled = false;
        } else {
            otherInput.style.display = 'none';
            otherInput.required = false; // Remove the required attribute
            otherInput.value = ''; // Clear the input field
        }
    }

    // Event listeners for checkboxes
    mmsCheckbox.addEventListener('change', updateCheckboxVisibility);
    walkwayCheckbox.addEventListener('change', updateCheckboxVisibility);
    handrailCheckbox.addEventListener('change', updateCheckboxVisibility);
    carportCheckbox.addEventListener('change', updateCheckboxVisibility);
    otherCheckbox.addEventListener('change', updateCheckboxVisibility);

    // Initial visibility update
    updateCheckboxVisibility();
</script>
<script>
    const clients = {{ clients|safe }};
    const input = document.getElementById('client');
    const suggestionsBox = document.getElementById('autocomplete-suggestions');

    input.addEventListener('input', function () {
        const query = this.value.toLowerCase();
        suggestionsBox.innerHTML = '';

        if (query) {
            const filteredClients = clients.filter(client => client.toLowerCase().includes(query));
            filteredClients.forEach(client => {
                const suggestion = document.createElement('div');
                suggestion.classList.add('autocomplete-suggestion');
                suggestion.textContent = client;
                suggestion.addEventListener('click', function () {
                    input.value = client;
                    suggestionsBox.innerHTML = '';
                });
                suggestionsBox.appendChild(suggestion);
            });
        }
    });

    document.addEventListener('click', function (event) {
        if (!suggestionsBox.contains(event.target) && event.target !== input) {
            suggestionsBox.innerHTML = '';
        }
    });
</script>
<script>
    function validateCheckboxes() {
        // Get all checkboxes with the specific class
        const client_requirement_checkboxes = document.querySelectorAll('.client-requirement-cb');
        const installation_type_checkboxes = document.querySelectorAll('.installation-type-cb');
        const drm_checkboxes = document.querySelectorAll('.drm-cb');
        const rfd_checkboxes = document.querySelectorAll('.rfd-cb');
        const fileInput = document.getElementById('document_file');

        // Get the selected value of the design intervention radio button
        const designIntervention = document.querySelector('input[name="design_intervention"]:checked');
        let isChecked = false;
        let drmRfdChecked = true;

        // Function to check if at least one checkbox is checked
        function isAnyCheckboxChecked(checkboxes) {
            for (const checkbox of checkboxes) {
                if (checkbox.checked) {
                    return true;
                }
            }
            return false;
        }

        // Check if any checkbox is checked in each group
        if (isAnyCheckboxChecked(client_requirement_checkboxes) && isAnyCheckboxChecked(installation_type_checkboxes)) {
            isChecked = true;
        }

        // Check DRM and RFD checkboxes only if design intervention is "Yes"
        if (designIntervention && designIntervention.value === "Yes") {
            drmRfdChecked = isAnyCheckboxChecked(drm_checkboxes) && isAnyCheckboxChecked(rfd_checkboxes);

            // Check if a file is uploaded
            const isFileUploaded = fileInput.files.length > 0;

            // If DRM/RFD checkboxes or file upload are not fulfilled, show alert
            if (!drmRfdChecked || !isFileUploaded) {
                alert("Please select alteast one checkboxes from Design Request Mode and Requirement For Design. Or upload a file.");
                return false; // Prevent form submission
            }
        }

        // If none of the checkboxes are checked, show an alert and prevent form submission
        if (!isChecked) {
            alert("Please insert/select all the required inputs.");
            return false; // Prevent form submission
        }

        return true; // Allow form submission
    }

    function trimStart(input) {
        input.value = input.value.replace(/^\s+/, '');
    }
</script>
</body>
</html>