<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title>Post Sales</title>
</head>
<body>
<div class="flex w-full mt-4 justify-between container mx-auto">
    <div class="m-2 flex gap-1">
        <a href="{% url 'main' %}"><i class="fas mt-1.5 fa-arrow-left cursor-pointer text-blue-500"></i></a>
        <a href="{% url 'main' %}">
            <h2 class="text-lg text-blue-500 cursor-pointer font-medium">Back To CRM</h2>
        </a>
    </div>
    <div class="flex gap-2">
        <div class="mt-2.5">
            <label class="text-base font-medium mt-1.5">Hey, {{ request.user.username }}</label>
        </div>
        <div class="mt-1.5">
            <button name="download_type" value="all_files" onclick="window.location.href='{% url 'logout' %}'"
                    class="px-2 py-1 bg-amber-500 text-white rounded-md hover:bg-amber-700">
                Logout
            </button>
        </div>
    </div>
</div>
<div class="flex w-full shadow-lg rounded-lg bg-clip-border mt-2 container mx-auto">
    <table class="w-full table-auto">
        <tr class="border-b border-slate-300 hover:bg-slate-200">
            <th class="p-2">S.N</th>
            <th class="p-2">Client Name</th>
            <th class="p-2">Project Code</th>
            <th class="p-2">Order Refrence</th>
            {% if sales_and_admin %}
                <th class="p-2">Delete</th>
            {% endif %}
            <th class="p-2">Flags</th>
            <th class="p-2">Design Status</th>
            <th class="p-2">Design Output</th>
        </tr>
        {% for i in all_data %}
            <tr class="border-b border-slate-300 hover:bg-slate-100 text-center">
                <td class="p-2 {% if i.delete == 'Yes' %} text-red-500 {% endif %}">{{ forloop.counter }}</td>
                <td class="p-2 {% if i.delete == 'Yes' %} text-red-500 {% endif %}">{{ i.client_name }}</td>
                <td class="p-2 {% if i.delete == 'Yes' %} text-red-500 {% endif %}">{{ i.proj_code }}</td>
                <td class="p-2 {% if i.delete == 'Yes' %} text-red-500 {% endif %}">
                    {{ i.po_number }}<br>
                    {{ i.po_date }}<br>
                    {#                    {% for file in i.po_file.all %}#}
                    {#                        <a href="{{ file.document_file.url }}" target="_blank">{{ file.document_file.name }}</a><br>#}
                    {#                    {% endfor %}#}
                </td>
                {% if sales_and_admin %}
                    <td class="p-2">
                        {% if i.delete == 'No' %}
                            <a href="#" onclick="showdeletePopup('{{ i.sr }}')" id="openDialog"
                               class="underline text-red-500 font-medium">
                                Delete
                            </a>
                        {% endif %}
                        <dialog id="deleteDialog_{{ i.sr }}"
                                class="rounded-lg p-6 bg-white shadow-lg w-full max-w-md border-2 border-gray-300">
                            <form method="post" action="{% url 'delete_ps' pk=i.sr %}">
                                {% csrf_token %}
                                <h2 class="text-lg font-bold mb-4">Reason For Delete</h2>
                                <input type="checkbox" value="Order Cancelled" id="order_cancell" name="order_cancell"
                                       class="mb-6 rounded-sm">
                                <label for="order_cancell" class="text-gray-800 mb-6">
                                    Order Cancelled
                                </label>
                                <input type="checkbox" id="po_removed" name="po_removed" class="ml-2 mb-6 rounded-sm">
                                <label for="po_removed" value="PO Removed/Cancelled" class="text-gray-800 mb-6">
                                    PO Removed/Cancelled
                                </label><br>
                                <input type="checkbox" id="other" name="other" class="ml-2 mb-6 rounded-sm">
                                <label for="other" value="PO Removed/Cancelled" class="text-gray-800 mb-6">
                                    Other
                                </label>
                                <input type="text" class="outline-none border-0 border-b border-b-gray-700">
                                <div class="flex justify-end gap-4">
                                    <button type="button" id="closeDialog" onclick="closedeletePopup('{{ i.sr }}')"
                                            class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400">
                                        Cancel
                                    </button>
                                    <button type="submit"
                                            class="px-3 py-2 bg-[red] text-white rounded hover:bg-red-600">
                                        Delete
                                    </button>
                                </div>
                            </form>
                        </dialog>
                    </td>
                {% endif %}
                <td class="p-2">
                    <div class="">
                        <a href="#" onclick="showdesignFlagPopup('{{ i.sr }}')"
                           class="{% if i.design_flag == 'Yes' %} bg-[red] {% elif i.design_flag == 'No' %} bg-[green] {% else %} bg-gray-800 {% endif %} font-medium underline text-white p-1 rounded-md">Design
                            Flag</a><br>
                        <dialog id="designFlagDialog_{{ i.sr }}"
                                class="rounded-lg p-6 bg-white shadow-lg w-full max-w-xl border-2 border-gray-300">
                            <form method="post" action="{% url 'ds_flag' pk=i.sr %}">
                                {% csrf_token %}
                                <h2 class="text-lg text-start font-bold">DESIGN FLAG</h2>
                                <div class="flex gap-3">
                                    <label class="font-medium">Raise Flag:</label>
                                    <div>
                                        <input type="radio" value="Yes" id="yes_designflag" name="design_flag">
                                        <label for="yes_designflag">Yes</label>
                                    </div>
                                    <div>
                                        <input type="radio" value="No" id="no_designflag" name="design_flag">
                                        <label for="no_designflag">No</label>
                                    </div>
                                </div>
                                <div class="flex flex-wrap gap-2">
                                    <label for="design_hault_reason" class="font-medium">Reason:</label>
                                    <textarea rows="3" id="design_hault_reason" name="design_hault_reason"
                                              class="border border-gray-700 mb-1 rounded w-full">
                                </textarea>
                                </div>
                                <div class="">
                                    {% if i.design_flag_entry.all %}
                                        <div class="text-start mt-4">
                                            <label class="text-lg font-bold">PREVIOUS FLAGS</label>
                                        </div>
                                        <div class="flex flex-col gap-2 mt-2 max-h-48 overflow-y-auto p-2 rounded">
                                            <div class="flex font-bold gap-4">
                                                <label class="w-10 text-start">S.N</label>
                                                <label class="w-40 text-start">Flags</label>
                                                <label class="w-24 text-start">Raised By</label>
                                                <label class="w-44 ml-3 text-start">Time</label>
                                            </div>

                                            {% for flag in i.design_flag_entry.all %}
                                                <div class="flex gap-4">
                                                    <label class="w-10 text-start">{{ forloop.counter }}</label>

                                                    <!-- Shortened flag reason with a clickable link -->
                                                    <label class="w-40 text-start max-h-24 overflow-y-auto cursor-pointer text-blue-500 underline"
                                                           onclick="openFlagReasonDialog('{{ flag.id }}')">
                                                        {{ flag.design_flag_reason|truncatechars:30 }}
                                                    </label>

                                                    <label class="w-24 text-start">{{ flag.design_flag_raised_by }}</label>
                                                    <label class="w-32 text-start">{{ flag.design_flag_raised_time }}</label>

                                                    <!-- Hidden element to store the full flag reason -->
                                                    <span id="flag_reason_{{ flag.id }}"
                                                          class="hidden">{{ flag.design_flag_reason }}</span>
                                                    <!-- ✅ Checkbox for marking as completed -->
{#                                                    <input type="checkbox" name="completed_{{ flag.id }}" value="true"#}
{#                                                           {% if flag.completed %}checked{% endif %}>#}
                                                </div>
                                            {% endfor %}

                                        </div>
                                    {% endif %}

                                </div>
                                <div class="flex justify-end gap-4">
                                    <button type="button" id="closeDialog" onclick="closedesignFlagPopup('{{ i.sr }}')"
                                            class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400">
                                        Cancel
                                    </button>
                                    {% if design_and_admin %}
                                    <button type="submit" class="px-3 py-2 bg-[green] text-white rounded hover:bg-green-700">
                                        Submit
                                    </button>
                                    {% endif %}
                                </div>
                            </form>
                        </dialog>
                        <!-- New Dialog for Showing Full Flag Reason -->
                        <!-- New Dialog for Showing Full Flag Reason -->
                        <dialog id="flagReasonDialog"
                                class="rounded-lg p-6 bg-white shadow-lg w-full max-w-md border-2 border-gray-300">
                            <h2 class="text-lg font-bold">Flag Reason</h2>
                            <p id="flagReasonContent"
                               class="text-start max-h-60 overflow-y-auto p-2 border border-gray-300 rounded"></p>
                            <div class="flex justify-end mt-4">
                                <button onclick="closeFlagReasonDialog()"
                                        class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400">
                                    Close
                                </button>
                            </div>
                        </dialog>

                    </div>
                    <div class="mt-2">
                        <a href="#" onclick="showproductionFlagPopup('{{ i.sr }}')"
                           class="{% if i.production_flag == 'Yes' %} bg-[red] {% elif i.production_flag == 'No' %} bg-[green] {% else %} bg-[black] {% endif %} font-medium text-white p-1 underline rounded-md">Production
                            Flag</a><br>
                        <dialog id="productionFlagDialog_{{ i.sr }}"
                                class="rounded-lg p-6 bg-white shadow-lg w-full max-w-xl border-2 border-gray-300">
                            <form method="post" action="{% url 'pd_flag' pk=i.sr %}">
                                {% csrf_token %}
                                <h2 class="text-lg text-start font-bold">PRODUCTION FLAG</h2>
                                <div class="flex gap-3">
                                    <label class="font-medium">Raise Flag:</label>
                                    <div>
                                        <input type="radio" value="Yes" id="yes_productionflag" name="productin_flag">
                                        <label for="yes_productionflag">Yes</label>
                                    </div>
                                    <div>
                                        <input type="radio" value="No" id="no_productionflag" name="productin_flag">
                                        <label for="`no_productionflag`">No</label>
                                    </div>
                                </div>
                                <div class="flex flex-wrap gap-2">
                                    <label for="production_hault_reason" class="font-medium">Reason:</label>
                                    <textarea rows="3" id="production_hault_reason" name="production_hault_reason"
                                              class="border border-gray-700 mb-1 rounded w-full">
                                </textarea>
                                </div>
                                <div class="">
                                    {% if i.production_flag == 'Yes' %}
                                        <div class="text-start">
                                            <label class="text-lg font-bold">PREVIOUS FLAGS</label>
                                        </div>
                                        <div class="flex gap-4">
                                            <div class="flex flex-col">
                                                <label class="font-bold text-start">S.N</label>
                                                <label class="text-start">1</label>
                                            </div>
                                            <div class="flex flex-col ">
                                                <label class="font-bold text-start">Flags</label>
                                                <label class="text-start max-h-24 overflow-y-auto cursor-pointer max-w-44 text-blue-500 underline"
                                                       onclick="openProdFlagReasonDialog('{{ i.sr }}')">
                                                    {{ i.production_flag_reason|truncatechars:30 }}
                                                </label>
                                            </div>
                                            <div class="flex flex-col">
                                                <label class="font-bold">Raised By</label>
                                                <label class="text-start">{{ i.production_flag_raised_by }}</label>
                                            </div>
                                            <div class="flex flex-col">
                                                <label class="font-bold text-start">Time</label>
                                                <label class="text-start">{{ i.production_flag_raised_time }}</label>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="flex justify-end gap-4">
                                    <button id="closeDialog" type="button" onclick="closedproductionFlagPopup('{{ i.sr }}')"
                                            class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400">
                                        Cancel
                                    </button>
                                    {% if production_and_admin %}
                                    <button type="submit" class="px-3 py-2 bg-[green] text-white rounded hover:bg-green-700">
                                        Submit
                                    </button>
                                    {% endif %}
                                </div>
                            </form>
                        </dialog>
                        <dialog id="ProductionflagReasonDialog_{{ i.sr }}"
                                class="rounded-lg p-6 bg-white shadow-lg w-full max-w-md border-2 border-gray-300"
                        >
                            <h2 class="text-lg font-bold">Production Flag Reason</h2>
                            <p class="text-start max-h-60 overflow-y-auto p-2 border border-gray-300 rounded">
                                {{ i.production_flag_reason }}
                            </p>
                            <div class="flex justify-end mt-4">
                                <button onclick="closeProdFlagReasonDialog('{{ i.sr }}')"
                                        class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400">
                                    Close
                                </button>
                            </div>
                        </dialog>
                    </div>
                </td>
                <td class="p-2"
                    style="">
                    <form name="nwestshowpageUpdate" action="{% url 'ps_design_status' pk=i.sr %}"
                          method="post" id="projectForm-{{ i.sr }}">
                        {% csrf_token %}
                        <select id="projectStatus-{{ i.sr }}" name="design_status1"
                                onchange="submitForm(this.form)"
                                class="rounded-md border border-black text-white"
                                {% if design_and_admin == False %} disabled {% endif %}
                                style="background-color: {% if i.design_status == 'To Start' %}red{% elif i.design_status == 'WIP' %}darkorange{% elif i.design_status == 'Hold' %}gold{% elif i.design_status == 'Done' %}green{% elif i.design_status == "Dropped" %}gray{% else %}red{% endif %}">
                            <option value="To Start"
                                    {% if i.design_status == "To Start" %}selected{% endif %}>To Start
                            </option>
                            <option value="WIP"
                                    {% if i.design_status == "WIP" %}selected{% endif %}>WIP
                            </option>
                            <option value="Done" {% if i.design_status == "Done" %}selected{% endif %}>
                                Done
                            </option>
                        </select>
                    </form>
                </td>
                <td class="p-2">
                    {% if i.delete == 'No' %}
                        <a href="{% url 'design_output' pk=i.sr %}"
                           class="underline text-blue-500 font-medium">Check</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
<script>
    function showdeletePopup(id) {
        let dialog = document.getElementById('deleteDialog_' + id);
        dialog.showModal();
    }

    function closedeletePopup(id) {
        let dialog = document.getElementById('deleteDialog_' + id);
        dialog.close();
    }

    function showdesignFlagPopup(id) {
        let dialog = document.getElementById('designFlagDialog_' + id);
        dialog.showModal();
    }

    function closedesignFlagPopup(id) {
        let dialog = document.getElementById('designFlagDialog_' + id);
        dialog.close();
    }

    function showproductionFlagPopup(id) {
        let dialog = document.getElementById('productionFlagDialog_' + id);
        dialog.showModal();
    }

    function closedproductionFlagPopup(id) {
        let dialog = document.getElementById('productionFlagDialog_' + id);
        dialog.close();
    }

    function openFlagReasonDialog(flagId) {
        // Get the selected flag's reason using the flag ID
        let flagReasonElement = document.getElementById("flag_reason_" + flagId);
        let fullReason = flagReasonElement ? flagReasonElement.innerText : "No reason found.";

        // Set the full reason inside the dialog
        document.getElementById("flagReasonContent").innerText = fullReason;

        // Show the dialog
        document.getElementById("flagReasonDialog").showModal();
    }

    function closeFlagReasonDialog() {
        document.getElementById("flagReasonDialog").close();
    }

    function openProdFlagReasonDialog(sr) {
        document.getElementById("ProductionflagReasonDialog_" + sr).showModal();
    }

    function closeProdFlagReasonDialog(sr) {
        document.getElementById("ProductionflagReasonDialog_" + sr).close();
    }

    function submitForm(form) {
        form.submit();  // Submit the form
    }
</script>
</body>
</html>