<!DOCTYPE html>
<html lang="">
<head>
    <title>North Design Status</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .status-dropdown option {
            color: black;
        }

        .btn-info, #postbtn {
            margin-left: 10px;
            width: 150px;
            height: 50px;
        }

    </style>
</head>
<body>
{% if user.is_authenticated %}
    <form action="logout" class="text-right" style="margin-top: 10px; margin-right: 25px;">
        <button class="btn btn-success">Logout</button>
    </form>
    <div style="text-align: center;">
        {% if westvar %}
            <a href="{% url 'showpage' %}">
                <button class="btn btn-info" type="button">West</button>
            </a>
        {% endif %}
        {% if southvar %}
            <a href="{% url 'southShowpage' %}">
                <button class="btn btn-info" type="button">South</button>
            </a>
        {% endif %}
        {% if northvar %}
            <a href="{% url 'northShowpage' %}">
                <button class="btn btn-info" type="button">North</button>
            </a>
        {% endif %}
        {% if intervar %}
            <a href="{% url 'internationalShow' %}">
                <button class="btn btn-info" type="button">International</button>
            </a>
        {% endif %}
        <a href="{% url 'ps1' %}">
            <button class="btn btn-warning" id="postbtn" type="button">Post Sales</button>
        </a>
    </div>
    <div class="container-fluid">
        <h2>North Design Status</h2>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Client</th>
                    <th>Job No</th>
                    <th>Project Name</th>
                    <th>Capacity</th>
                    <th>Design Status</th>
                    {# New Column #}
                    <th>Rev</th>
                    <th>Installation Type</th>
                    <th>Current Sales Stage</th>
                    <th>Design Request Date</th>
                    <th>Design Request Mode</th>
                    <th>Sunrack Sales POC</th>
                    <th>Drawing Required</th>
                    <th>Design Assigned</th>
                    <th>Remarks</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                {% if data %}
                    <tbody>
                    {% for i in data %}
                        <tr>
                            <td>{{ i.id }}</td>
                            <td>{{ i.client }}</td>
                            <td>{{ i.job_no }}</td>
                            <td>{{ i.project_name }}</td>
                            <td>{{ i.capacity }}</td>
                            <td style="color: white; background-color: {% if i.design_status == 'Not Started' or i.design_status == 'Revision' %}red{% elif i.design_status == 'In Progress' or i.design_status == 'On Hold' %}#FFC300{% elif i.design_status == 'Dropped' %}gray{% elif i.design_status == 'Partial Done' %}lightgreen{% elif i.design_status == 'Done' %}green{% endif %}">
                                {{ i.design_status }}
                            </td>
                            <td>{{ i.rev }}</td>
                            <td>{{ i.installation_type }}</td>
                            <td>{{ i.sales_stage }}</td>
                            <td>{{ i.design_request_date }}</td>
                            <td>{{ i.design_request_mode }}</td>
                            <td>{{ i.sales_poc }}</td>
                            <td>{{ i.documents_required }}<br>
                                {% if i.document_files.all %}
                                <a href="{% url 'north_attachments' pk=i.id %}" target="_blank">Attachment(s)</a>
                                {% endif %}
                            </td>
                            <td>{{ i.design_assigned }}</td>
                            <td>
                                {% if i.remarks|length > 50 %}
                                    {{ i.remarks|truncatewords:2 }}
                                    <span class="see-more" style="display: none;">{{ i.remarks }}</span>
                                    <a href="#" class="toggle-more">See More</a>
                                {% else %}
                                    {{ i.remarks }}
                                {% endif %}
                            </td>
                            <td>
                                <form name="NorthEditpage" action="{% url 'NorthEditpage' pk=i.id %}"
                                      method="post">
                                    {% csrf_token %}
                                    <input type="submit" class="btn btn-primary" value="Edit">
                                </form>
                            </td>
                            <td>
                                <form name="NorthDeleteForm" action="{% url 'NorthDelete' pk=i.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="submit" class="btn btn-danger" value="Delete">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                {% endif %}
            </table>
        </div>
    </div>
    <script>
        function submitForm(form) {
            form.submit();
        }
    </script>
{% else %}
    <h2>You are Not Logged In</h2>
    <form action="/">
        <input type="submit" value="Log in" style="background: black; color: white">
    </form>
{% endif %}
<script>
    // Place this code just before the closing </body> tag or use a defer/async attribute
    const toggleLinks = document.querySelectorAll(".toggle-more");

    toggleLinks.forEach((link) => {
        link.addEventListener("click", (event) => {
            event.preventDefault();
            event.stopPropagation(); // Prevent event propagation
            const limitedText = link.parentElement.querySelector(".limited-text");
            const seeMore = link.previousElementSibling; // Adjusted to select the previous sibling

            if (seeMore.style.display === "none") {
                seeMore.style.display = "inline";
                limitedText.style.display = "none";
                link.textContent = "See Less";
            } else {
                seeMore.style.display = "none";
                limitedText.style.display = "inline";
                link.textContent = "See More";
            }
        });
    });
</script>
</body>
</html>
