<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Sales</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        #crmbtn, #postbtn {
            margin-left: 10px;
            width: 150px;
            height: 50px;
        }

    </style>
</head>
<body>
<form action="logout" class="text-right" style="margin-top: 10px; margin-right: 25px;">
    <button class="btn btn-success">Logout</button>
</form>
<div style="text-align: center;">
    <a href="{% url 'main' %}">
        <button class="btn btn-info" id="crmbtn" type="button">CRM</button>
    </a>
    <a href="{% url 'ps1' %}">
        <button class="btn btn-warning" id="postbtn" type="button">Post Sales</button>
    </a>
</div>
<div class="container-fluid">
    <h2>Post Sales Status</h2>
    <div class="table-responsive" id="full_table">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>S.N</th>
                <th>Client Name(As Per PO)</th>
                <th>Project Name(If Any)</th>
                <th>Project Code</th>
                <th>Order Refrence</th>
                <th title="Revision Request Date">PO Date</th>
                <th>Types Of Material</th>
                {% if editvar %}
                    <th>Edit</th>
                {% endif %}
                <th>Delete</th>
                <th>Revision</th>
                <th>Reason For Rev</th>
                <th>Whether all inputs available for Design</th>
                <th>Design Status</th>
                <th>Maker</th>
                <th>Checker</th>
                <th>BOM Release Date</th>
                <th>Drawing Release Date</th>
                <th>Other Document Release Date</th>
                <th>Remarks</th>
                <th>Turn Around Time</th>
            </tr>
            </thead>
            <tbody>
            {% for i in postsales_data %}
                <tr {% if i.whether_all_input_available == 'No' %}style="background-color: #dc5454;color: white" {% endif %}>
                    <td>{{ i.sr }}</td>
                    <td>{{ i.client_name }}</td>
                    <td>{{ i.project_name }}</td>
                    <td>{{ i.project_code }}</td>
                    <td>{{ i.order_refrence }}</td>
                    <td>{{ i.po_date }}</td>
                    <td>{{ i.types_of_material }}</td>
                    {% if editvar %}
                        <td>
                            <form name="EditForm" action="{% url 'PsEdit' pk=i.revision_number %}"
                                  method="post">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-primary" value="Edit">
                            </form>
                        </td>
                    {% endif %}
                    <td>
                        <form name="DeleteForm" action="{% url 'PsDelete' pk=i.revision_number %}"
                              method="post">
                            {% csrf_token %}
                            <input type="submit" {% if i.whether_all_input_available == 'No' %} class="btn btn-info"
                                   {% else %}class="btn btn-danger"{% endif %}
                                   value="Delete">
                        </form>
                    </td>
                    <td style="text-align: center">{{ i.revision }}
                        <form method="post" action="{% url 'PsAddRevision' pk=i.revision_number %}">
                            {% csrf_token %}
                            <input type="submit" class="btn btn-info" value="Add Revision">
                        </form>
                    </td>
                    <td>{{ i.reason_for_revision }}</td>
                    <td>{{ i.whether_all_input_available }}</td>
                    <td style="background-color: {% if i.design_status == 'To Start' or i.design_status == 'Revision' %}red{% elif i.design_status == 'In Progress' or i.design_status == 'On Hold' %}orange{% elif i.design_status == 'Dropped' %}gray{% elif i.design_status == 'Partial Done' %}lightgreen{% elif i.design_status == 'Done' %}green{% endif %}; color: white;">{{ i.design_status }}</td>
                    <td>{{ i.maker }}</td>
                    <td>{{ i.checker }}</td>
                    <td> {{ i.bom_release_date }}
                        {% if i.bom_attachment.all or i.drawing_attachment.all or i.other_attachment.all %}
                            <a href="{% url 'ps_attachment' pk=i.revision_number %}" target="_blank">Attachment(s)</a>
                            </td>
                        {% endif %}
                    <td>{{ i.drawing_release_date }}</td>
                    <td> {{ i.other_document_release_date }}</td>
                    <td>{{ i.remarks }}</td>
                    <td>{{ i.turn_around_time }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<dialog id="revision-popup">
    <form method="post">
        {% csrf_token %}
        <h2>Add Revision</h2>
        <label for="order_refrence">Order Refrence:</label><br>
        <input type="text" id="order_refrence" name="order_refrence"><br>
        <label for="order_refrence">PO Date:</label><br>
        <input type="date" id="po-date" name="po-date"><br>
        <label for="types_of_matrial">Types Of Material:</label><br>
        <input type="text" id="types_of_matrial" name="types_of_matrial"><br>
        <label for="order_refrence">Reason For Revision:</label><br>
        <input type="text" id="reason_for_revision" name="reason_for_revision"><br>
        <label for="order_refrence">Whether All Inputs Available For Design:</label><br>
        <input type="text" id="whether_all_input_availaible" name="whether_all_input_availaible"><br>
        <label style="margin-top: 10px;">Design Status</label>
        <select id="design_status" name="design_status">
            <option value="To Start">To Start</option>
            <option value="In Progress">In Progress</option>
            <option value="Done">Done</option>
        </select><br>
        <label for="order_refrence">Maker:</label><br>
        <input type="text" id="maker" name="maker"><br>
        <label for="order_refrence">Checker:</label><br>
        <input type="text" id="maker" name="maker"><br>
        <br><br>
        <button type="button" onclick="closePopup1()">Cancel</button>
        <button type="submit">Submit</button>
    </form>
</dialog>
<script>
    let popup = document.getElementById('revision-popup')

    function displayPopup1() {
        popup.showModal()
    }
    function closePopup1() {
        popup.close()
    }
</script>
</body>
</html>