{% load tz %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Attachments</title>
</head>
<body>
<h2>Attachments:</h2>
{% for i in attachment_data %}
    {% if i.bom_attachment.all %}
    <label><b>Bom Attachments:</b></label><br><br>
    {% endif %}
    {% for file_instance in i.bom_attachment.all %}
        <a href="{% url 'download_attachment' pk=i.revision_number file_pk=file_instance.id %}" download>
            {{ file_instance.document_file.name }}</a>
        <br>
        {{ file_instance.upload_datetime|timezone:"Asia/Kolkata" }}
        <br>
        {{ file_instance.user }}
        <br>
    {% endfor %}
    <br>
    {% if i.drawing_attachment.all %}
    <label><b>Drawing Attachments:</b></label><br><br>
    {% endif %}
    {% for file_instance in i.drawing_attachment.all %}
        <a href="{% url 'download_attachment' pk=i.revision_number file_pk=file_instance.id %}" download>
            {{ file_instance.document_file.name }}</a>
        <br>
        {{ file_instance.upload_datetime|timezone:"Asia/Kolkata" }}
        <br>
        {{ file_instance.user }}
        <br>
    {% endfor %}
    <br>
    {% if i.other_attachment.all %}
    <label><b>Other Attachments:</b></label><br><br>
    {% endif %}
    {% for file_instance in i.other_attachment.all %}
        <a href="{% url 'download_attachment' pk=i.revision_number file_pk=file_instance.id %}" download>
            {{ file_instance.document_file.name }}</a>
        <br>
        {{ file_instance.upload_datetime|timezone:"Asia/Kolkata" }}
        <br>
        {{ file_instance.user }}
        <br>
    {% endfor %}
{% endfor %}
</body>
</html>