{% load custom_filters_n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

    <title>Design Output</title>
</head>
<body>
<div class="flex gap-1 w-full shadow-lg rounded-lg bg-clip-border mt-4 container mx-auto">
    <div class="w-3/12 border flex flex-col gap-1">
        <div class="m-2 flex gap-1">
            <a href="{% url 'newPs' %}"><i class="fas mt-1.5 fa-arrow-left cursor-pointer text-blue-500"></i></a>
            <a href="{% url 'newPs' %}">
                <h2 class="text-lg text-blue-500 cursor-pointer font-medium"> Back To Post Sales</h2>
            </a>
        </div>
        <div class="m-2 ">
            <h2 class="text-base font-medium">Input Attachments</h2>
        </div>
        <div class="m-2 ">
            {% if po_data.po_file.exists %}
                {% for file in po_data.po_file.all %}
                    <a href="{{ file.document_file.url }}" target="_blank"
                       class="text-blue-500 underline">{{ file.document_file.name }}</a><br>
                    <label class="text-sm">{{ file.user }}</label>
                    <label class="text-sm">{{ file.upload_datetime }}</label>
                {% endfor %}
            {% else %}
                <label class="text-base italic font-normal">Attachments not Found</label>
            {% endif %}
        </div>
        <div class="m-2 ">
            <label class="text-base font-medium">Input Comments</label>
            <p class="mt-2">{{ po_data.input_coments }}</p>
        </div>
        <div class="flex flex-col m-2 h-full justify-end items-start">
            <form method="post" action="{% url 'download_files' sr=sr %}">
                {% csrf_token %}
                <div class="flex flex-col gap-2">
                    <button type="submit" name="download_type" value="all_files"
                            class="px-3 py-1 bg-blue-500 text-white rounded-md hover:bg-blue-700">
                        Download All Files
                    </button>
                    <button type="submit" name="download_type" value="partial_files"
                            class="px-3 py-1 bg-green-500 text-white rounded-md hover:bg-green-700">
                        Download Revised Files
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="w-9/12 flex flex-col border">
        <div class="w-full flex border-b-2 border-slate-300">
            <div class="w-1/12 m-1  text-center border-r border-slate-300">
                <label class="text-base font-medium border-0 border-b border-slate-300">S.N</label>
            </div>
            <div class="w-1/12 m-1  text-center border-r border-slate-300">
                <label class="text-base font-medium border-0 border-b border-slate-300">Rev</label>
            </div>
            <div class="w-3/12 m-1 text-center border-r border-slate-300">
                <label class="text-base font-medium border-0 border-b border-slate-300">Design File</label>
            </div>
            <div class="w-2/12 m-1 text-center border-r border-slate-300">
                <label class="text-base font-medium border-0 border-b border-slate-300">Maker</label>
            </div>
            <div class="w-2/12 m-1  text-center border-r border-slate-300">
                <label class="text-base font-medium border-0  border-b border-slate-300">Checker</label>
            </div>
            <div class="w-2/12 m-1 border-r text-center border-slate-300">
                <label class="text-sm font-medium border-0 border-b border-slate-300">Date & TIme</label>
            </div>
            <div class="w-1/12 m-1 text-center">
                <label class="text-base font-medium border-0 border-b border-slate-300">Revise</label>
            </div>
        </div>
            {% for i in all_data %}
                <div class="w-full flex {% if i.strike == 'Yes' %} bg-red-300 {% endif %} border-b border-slate-300">
                    <div class="w-1/12 m-1 p-0.5 text-center border-r border-slate-300">
                        <label class="text-sm border-0 border-b border-slate-300">
                            {{ i.sr_id }}
                        </label>
                    </div>
                    <div class="w-1/12 m-1 p-0.5 text-center border-r border-slate-300">
                        <label class="text-sm border-0 border-b border-slate-300">
                            R0
                        </label>
                    </div>
                    <div class="w-3/12 m-1 text-center border-r border-slate-300">
                        <div>
                            {% if i.files %}
                                <a href="{{ i.files.url }}" target="_blank"
                                   class="text-blue-500 text-sm underline">{{ i.files }}</a>
                                <label class="text-sm">{{ i.user }}</label>
                                <br>
                            {% endif %}
                        </div>
                    </div>
                    <div class="w-2/12 m-1 text-center border-r border-slate-300">
                        {{ i.maker }}
                    </div>
                    <div class="w-2/12 m-1  text-center border-r border-slate-300">
                        <label class="text-base">{{ i.checker }}</label>
                        <label class="text-xs font-medium border-0" style="visibility: hidden">A</label>
                    </div>
                    <div class="w-2/12 m-1 text-center border-r border-slate-300">
                        <label class="text-sm border-0 border-slate-300">{{ i.op_date_time }} </label>
                    </div>
                    <div class="w-1/12 m-1 text-center border-slate-30">
                        {% if i.strike != 'Yes' and design_and_admin %}
                            <button type="button" onclick="openReviseDialog('{{ i.sr_id }}')" name="action"
                                    value="revise"
                                    class="px-3 py-0.5 bg-red-500 rounded-md text-white hover:bg-red-700">
                                Revise
                            </button>
                        {% endif %}
                    </div>
                    <dialog id="revise_dialog_{{ i.sr_id }}"
                            class="rounded-lg p-6 bg-white shadow-lg w-full max-w-md border-2 border-gray-300">
                        <form method="post" id="form-{{ i.sr_id }}"
                              action="{% url 'add_revise_design_output' pk=sr sr_id=i.sr_id %}"
                              enctype="multipart/form-data"
                              onsubmit="return validateReviseForm('{{ i.sr_id }}', '{{ request.user.username }}')">
                            {% csrf_token %}
                            <div class="w-full flex flex-wrap gap-1">
                                <div class="m-1 p-1 text-start border-slate-300">
                                    <input type="file" id="design_file" class="w-48 border border-gray-300 rounded-md"
                                           name="design_file" required>
                                </div>
                                <div class="m-1 p-1 mt-2 border-slate-300">
                                    <label class="text-sm font-medium border-0 border-slate-300">
                                        Maker:</label>
                                    <select id="maker-{{ i.sr_id }}" name="maker"
                                            class="rounded-md border-1 outline-none border-black text-black bg-green-200">
                                        <option value="Pavan">Pavan</option>
                                        <option value="Ahmad">Ahmad</option>
                                        <option value="Bhakti">Bhakti</option>
                                        <option value="Ayyub">Ayyub</option>
                                        <option value="Amaan">Amaan</option>
                                        <option value="Inzimam">Inzimam</option>
                                        <option value="Mujaddid">Mujaddid</option>
                                        <option value="Kashish">Kashish</option>
                                        <option value="Abdul_Gani">Abdul_Gani</option>
                                    </select>
                                </div>
                                <div class="m-1 p-1 mt-2 border-slate-300">
                                    <label class="text-sm font-medium border-0 border-slate-300">Checker:</label>
                                    <select id="checker-{{ i.sr_id }}" name="checker"
                                            class="rounded-md border-1 outline-none border-black text-black bg-green-200">
                                        <option value=""></option>
                                        <option value="Pavan">Pavan</option>
                                        <option value="Ahmad">Ahmad</option>
                                        <option value="Bhakti">Bhakti</option>
                                        <option value="Ayyub">Ayyub</option>
                                        <option value="Amaan">Amaan</option>
                                        <option value="Inzimam">Inzimam</option>
                                        <option value="Mujaddid">Mujaddid</option>
                                        <option value="Kashish">Kashish</option>
                                        <option value="Sunrack">Sunrack</option>
                                        <option value="Abdul_Gani">Abdul_Gani</option>
                                    </select>
                                </div>
                            </div>
                            <div class="">
                                <div class="m-1 p-1 text-end border-slate-300">
                                    <button type="button" onclick="closeReviseDialog('{{ i.sr_id }}')"
                                            class="px-3 py-0.5 bg-gray-300 rounded hover:bg-gray-400">
                                        Close
                                    </button>
                                    <button type="submit" name="action" value="orgrevise"
                                            class="px-3 py-0.5 bg-green-500 rounded-md text-white hover:bg-green-700">
                                        Revise
                                    </button>
                                </div>
                            </div>
                        </form>
                    </dialog>
                </div>
                {% for j in revise_data %}
                    {% if i.sr_id == j.sr_id %}
                        <div class="w-full flex {% if j.strike == 'Yes' %} bg-red-300 {% endif %} border-b border-slate-300">
                            <div class="w-1/12 m-1 p-0.5 text-center border-r border-slate-300">
                                <label class="text-sm border-0 border-b border-slate-300">
                                     </label>
                            </div>
                            <div class="w-1/12 m-1 p-0.5 text-center border-r border-slate-300">
                                <label class="text-sm border-0 border-b border-slate-300">
                                    R{{ j.rev_no }}  </label>
                            </div>
                            <div class="w-3/12 m-1 text-center border-r border-slate-300">
                                <div>
                                    {% if j.files %}
                                        <a href="{{ j.files.url }}" target="_blank"
                                           class="text-blue-500 text-sm underline">{{ j.files }}</a>
                                        <label class="text-sm">{{ j.user }}</label>
                                        <br>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="w-2/12 m-1 text-center border-r border-slate-300">
                                {{ j.maker }}
                            </div>
                            <div class="w-2/12 m-1  text-center border-r border-slate-300">
                                <label class="text-base">{{ j.checker }}</label>
                                <label class="text-xs font-medium border-0" style="visibility: hidden">A</label>
                            </div>
                            <div class="w-2/12 m-1 text-center border-r border-slate-300">
                                <label class="text-sm border-0 border-slate-300">{{ j.op_date_time }} </label>
                            </div>
                            <div class="w-1/12 m-1 text-center border-slate-30">
                                {% if j.strike != 'Yes' and design_and_admin %}
                                    <button type="button" onclick="openNewReviseDialog('{{ i.sr_id }}', '{{ j.rev_no }}')" name="action"
                                            value="revise"
                                            class="px-3 py-0.5 bg-red-500 rounded-md text-white hover:bg-red-700">
                                        Revise
                                    </button>
                                {% endif %}
                            </div>
                            <dialog id="revise_dialog_{{ i.sr_id }}_{{ j.rev_no }}"
                                    class="rounded-lg p-6 bg-white shadow-lg w-full max-w-md border-2 border-gray-300">
                                <form method="post" id="form-{{ i.sr_id }}-{{ j.rev_no }}"
                                      action="{% url 'add_revno_design_output' pk=sr sr_id=j.sr_id rev=j.rev_no %}"
                                      enctype="multipart/form-data"
                                      onsubmit="return validateNewReviseForm('{{ i.sr_id }}', '{{ j.rev_no }}', '{{ request.user.username }}')">
                                    {% csrf_token %}
                                    <div class="w-full flex flex-wrap gap-1">
                                        <div class="m-1 p-1 text-start border-slate-300">
                                            <input type="file" id="design_file"
                                                   class="w-48 border border-gray-300 rounded-md"
                                                   name="design_file" required>
                                        </div>
                                        <div class="m-1 p-1 mt-2 border-slate-300">
                                            <label class="text-sm font-medium border-0 border-slate-300">
                                                Maker:</label>
                                            <select id="maker-{{ i.sr_id }}-{{ j.rev_no }}" name="maker"
                                                    class="rounded-md border-1 outline-none border-black text-black bg-green-200">
                                                <option value="Pavan">Pavan</option>
                                                <option value="Ahmad">Ahmad</option>
                                                <option value="Bhakti">Bhakti</option>
                                                <option value="Ayyub">Ayyub</option>
                                                <option value="Amaan">Amaan</option>
                                                <option value="Inzimam">Inzimam</option>
                                                <option value="Mujaddid">Mujaddid</option>
                                                <option value="Kashish">Kashish</option>
                                                <option value="Abdul_Gani">Abdul_Gani</option>
                                            </select>
                                        </div>
                                        <div class="m-1 p-1 mt-2 border-slate-300">
                                            <label class="text-sm font-medium border-0 border-slate-300">Checker:</label>
                                            <select id="checker-{{ i.sr_id }}-{{ j.rev_no }}" name="checker"
                                                    class="rounded-md border-1 outline-none border-black text-black bg-green-200">
                                                <option value=""></option>
                                                <option value="Pavan">Pavan</option>
                                                <option value="Ahmad">Ahmad</option>
                                                <option value="Bhakti">Bhakti</option>
                                                <option value="Ayyub">Ayyub</option>
                                                <option value="Amaan">Amaan</option>
                                                <option value="Inzimam">Inzimam</option>
                                                <option value="Mujaddid">Mujaddid</option>
                                                <option value="Kashish">Kashish</option>
                                                <option value="Sunrack">Sunrack</option>
                                                <option value="Abdul_Gani">Abdul_Gani</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="">
                                        <div class="m-1 p-1 text-end border-slate-300">
                                            <button type="button" onclick="closeNewReviseDialog('{{ i.sr_id }}', '{{ j.rev_no }}')"
                                                    class="px-3 py-0.5 bg-gray-300 rounded hover:bg-gray-400">
                                                Close
                                            </button>
                                            <button type="submit" name="action" value="revise"
                                                    class="px-3 py-0.5 bg-green-500 rounded-md text-white hover:bg-green-700">
                                                Revise
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </dialog>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
        <form method="post" id="form-{{ sr }}" action="{% url 'add_design_output_wo' pk=sr %}"
              enctype="multipart/form-data" onsubmit="return validateAddForm('{{ request.user.username }}')">
            {% csrf_token %}
            <div class="w-full flex gap-1 border-b border-slate-300">
                <div class="w-2.5/12 m-1 p-1 text-start border-slate-300">
                    <input type="file" id="design_file" class="w-48 border border-gray-300 rounded-md"
                           name="design_file" required>
                </div>
                <div class="w-2.5/12 m-1 p-1 mt-2 text-center border-slate-300">
                    <label class="text-sm font-medium border-0 border-slate-300">Maker:</label>
                    <select id="maker_" name="maker"
                            class="rounded-md border-1 outline-none border-black text-black bg-green-200">
                        <option value="Pavan">Pavan</option>
                        <option value="Ahmad">Ahmad</option>
                        <option value="Bhakti">Bhakti</option>
                        <option value="Ayyub">Ayyub</option>
                        <option value="Amaan">Amaan</option>
                        <option value="Inzimam">Inzimam</option>
                        <option value="Mujaddid">Mujaddid</option>
                        <option value="Kashish">Kashish</option>
                        <option value="Abdul_Gani">Abdul_Gani</option>
                    </select>
                </div>
                <div class="w-2.5/12 m-1 p-1 mt-2 text-center border-slate-300">
                    <label class="text-sm font-medium border-0 border-slate-300">Checker:</label>
                    <select id="checker_" name="checker"
                            class="rounded-md border-1 outline-none border-black text-black bg-green-200">
                        <option value="Pavan">Pavan</option>
                        <option value="Ahmad">Ahmad</option>
                        <option value="Bhakti">Bhakti</option>
                        <option value="Ayyub">Ayyub</option>
                        <option value="Amaan">Amaan</option>
                        <option value="Inzimam">Inzimam</option>
                        <option value="Mujaddid">Mujaddid</option>
                        <option value="Kashish">Kashish</option>
                        <option value="Sunrack">Sunrack</option>
                        <option value="Abdul_Gani">Abdul_Gani</option>
                    </select>
                </div>
                <div class="w-2/12 m-1 p-1 text-start border-slate-300">
                    {% if design_and_admin %}
                        <button type="submit" name="action" value="add"
                                class="px-3 py-0.5 bg-blue-500 rounded-md text-white hover:bg-blue-700">
                            Add
                        </button>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    function openReviseDialog(sr) {
        document.getElementById("revise_dialog_" + sr).showModal();
    }

    function closeReviseDialog(sr) {
        document.getElementById("revise_dialog_" + sr).close();
    }

    function openNewReviseDialog(sr_id, rev_no) {
        let dialogId = `revise_dialog_${sr_id}_${rev_no}`;
        let dialog = document.getElementById(dialogId);

        if (dialog) {
            dialog.showModal();
        }
    }

    function closeNewReviseDialog(sr_id, rev_no) {
        let dialogId = `revise_dialog_${sr_id}_${rev_no}`;
        let dialog = document.getElementById(dialogId);

        if (dialog) {
            dialog.close();
        }
    }


    function validateReviseForm(sr, username) {
        let maker = document.getElementById("maker-" + sr).value;
        let checker = document.getElementById("checker-" + sr).value;

        console.log("SR:", sr);
        console.log("Username:", username);

        // Condition 1: Maker and Checker should not be the same
        if (maker === checker) {
            alert("Maker and Checker cannot be the same.");
            return false; // Stop form submission
        }

        console.log("Maker:", maker);
        console.log("Checker:", checker);

        // Condition 2: Username must match either Maker or Checker
        if (username !== maker && username !== checker) {
            alert("You must be either the Maker or the Checker to submit.");
            return false; // Stop form submission
        }

        return true; // Allow form submission
    }

    function validateNewReviseForm(sr_id, rev_no, username) {
    let maker = document.getElementById("maker-" + sr_id + "-" + rev_no).value;
    let checker = document.getElementById("checker-" + sr_id + "-" + rev_no).value;

    console.log("SR ID:", sr_id);
    console.log("Revision No:", rev_no);
    console.log("Username:", username);
    console.log("Maker:", maker);
    console.log("Checker:", checker);

    // Condition 1: Maker and Checker should not be the same
    if (maker === checker) {
        alert("Maker and Checker cannot be the same.");
        return false; // Stop form submission
    }

    // Condition 2: Username must match either Maker or Checker
    if (username !== maker && username !== checker) {
        alert("You must be either the Maker or the Checker to submit.");
        return false; // Stop form submission
    }

    return true; // Allow form submission
}


    function validateAddForm(username) {
        let maker = document.getElementById("maker_").value;
        let checker = document.getElementById("checker_").value;

        // Condition 1: Maker and Checker should not be the same
        if (maker === checker) {
            alert("Maker and Checker cannot be the same.");
            return false; // Stop form submission
        }

        // Condition 2: Username must match either Maker or Checker
        if (username !== maker && username !== checker) {
            alert("You must be either the Maker or the Checker to submit.");
            return false; // Stop form submission
        }

        return true; // Allow form submission
    }

</script>
</body>
</html>