<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Design Output</title>
</head>
<body>
<div class="flex w-full shadow-lg rounded-lg bg-clip-border mt-4 container mx-auto">
    <div class="w-3/12 border">
        <table class="w-full table-auto border-collapse mt-4">
            <tr>
                <th class="p-2">Attachment File</th>
            </tr>
            <tr>
                <td class="p-2">
                    {% for file in po_data.po_file.all %}
                        <a href="{{ file.document_file.url }}" target="_blank"
                           class="text-blue-500 underline">{{ file.document_file.name }}</a><br>
                        <label class="text-sm">{{ file.user }}</label>
                        <label class="text-sm">{{ file.upload_datetime }}</label>
                    {% endfor %}
                </td>
            </tr>
        </table>
    </div>
    <div class="w-9/12 border">
        <table class="w-full table-auto border-collapse">
            {#        <colgroup>#}
            {#            <col style="width: 5%;">  <!-- S.N -->#}
            {#            <col style="width: 20%;"> <!-- Attachment File -->#}
            {#            <col style="width: 15%;"> <!-- Maker -->#}
            {#            <col style="width: 15%;"> <!-- Checker -->#}
            {#            <col style="width: 15%;"> <!-- Date & Time -->#}
            {#            <col style="width: 10%;"> <!-- Revise -->#}
            {#        </colgroup>#}
            <!-- With this way we can set the width of each column using css -->
            <tr class="border-b border-slate-300 hover:bg-slate-200">
                <th class="p-2 w-[40px] min-w-[40px] max-w-[40px]">
                    <div class="truncate w-[40px]">S.N</div>
                </th>
                <th class="p-2 w-3/12">Design File</th>
                <th class="p-2 w-2/12">Maker</th>
                <th class="p-2 w-2/12]">Checker</th>
                <th class="p-2 w-2/12">Date & Time</th>
                <th class="p-2 w-2/12">Revise</th>
                <!-- added the width of ecah column -->
            </tr>
            {#        {% for i in all_data %}#}
            {% if all_data %}
                {% for i in all_data %}
                    <form method="post" id="form-{{ sr }}" action="{% url 'add_design_output' pk=sr %}"
                          enctype="multipart/form-data">
                    {% csrf_token %}
                    <tr class="border-b border-slate-300 hover:bg-slate-200 text-center">
                        <td class="w-[40px] min-w-[40px] max-w-[40px]">
                        <div class="truncate w-[40px]">S.N</div>
                        </td>
                        <td class="">
                            <div>
                                {% if i.files %}
                                    <a href="{{ i.files.url }}" target="_blank"
                                       class="text-blue-500 underline">{{ i.files }}</a>
                                    <label class="text-sm">{{ i.user }}</label>
                                    <br>
                                {% endif %}
                            </div>
                        </td>
                        <td class="">
                            <select id="maker-{{ i.sr }}" name="maker"
                                    class="rounded-md border-1 outline-none border-black text-black bg-green-200">
                                <option value="Pavan"
                                        {% if i.maker == "Pavan" %}selected{% endif %}>Pavan
                                </option>
                                <option value="Ahmad"
                                        {% if i.maker == "Ahmad" %}selected{% endif %}>Ahmad
                                </option>
                                <option value="Bhakti"
                                        {% if i.maker == "Bhakti" %}selected{% endif %}>Bhakti
                                </option>
                                <option value="Ayyub"
                                        {% if i.maker == "Ayyub" %}selected{% endif %}>Ayyub
                                </option>
                                <option value="Amaan"
                                        {% if i.maker == "Amaan" %}selected{% endif %}>Amaan
                                </option>
                                <option value="Inzimam"
                                        {% if i.maker == "Inzimam" %}selected{% endif %}>Inzimam
                                </option>
                                <option value="Mujaddid"
                                        {% if i.maker == "Mujaddid" %}selected{% endif %}>Mujaddid
                                </option>
                                <option value="Kashish"
                                        {% if i.maker == "Kashish" %}selected{% endif %}>Kashish
                                </option>
                                <option value="Abdul_Gani"
                                        {% if i.maker == "Abdul_Gani" %}selected{% endif %}>Abdul_Gani
                                </option>
                            </select>
                        </td>
                        <td class="">
                            <select id="checker-{{ i.sr }}" name="checker"
                                    class="rounded-md border-1 outline-none border-black text-black bg-green-200">
                                <option value="Pavan"
                                        {% if i.checker == "Pavan" %}selected{% endif %}>Pavan
                                </option>
                                <option value="Ahmad"
                                        {% if i.checker == "Ahmad" %}selected{% endif %}>Ahmad
                                </option>
                                <option value="Bhakti"
                                        {% if i.checker == "Bhakti" %}selected{% endif %}>Bhakti
                                </option>
                                <option value="Ayyub"
                                        {% if i.checker == "Ayyub" %}selected{% endif %}>Ayyub
                                </option>
                                <option value="Amaan"
                                        {% if i.checker == "Amaan" %}selected{% endif %}>Amaan
                                </option>
                                <option value="Inzimam"
                                        {% if i.checker == "Inzimam" %}selected{% endif %}>Inzimam
                                </option>
                                <option value="Mujaddid"
                                        {% if i.checker == "Mujaddid" %}selected{% endif %}>Mujaddid
                                </option>
                                <option value="Kashish"
                                        {% if i.checker == "Kashish" %}selected{% endif %}>Kashish
                                </option>
                                <option value="Abdul_Gani"
                                        {% if i.checker == "Abdul_Gani" %}selected{% endif %}>Abdul_Gani
                                </option>
                            </select>
                        </td>
                        <td>
                            {{ i.op_date_time }}
                        </td>
                        <td>
                            <div class="flex w-3/5 m-1 gap-1 ml-4">
                                <button type="submit" name="action" value="revise"
                                        class="px-3 py-1 bg-red-500 rounded-md text-white hover:bg-red-700">
                                    Revise
                                </button>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            <tr>
                <td>
                    <input type="file" id="design_file" class="w-56 border border-gray-300 rounded-md"
                           name="design_file" required>
                </td>
                <td>
                    <button type="submit" name="action" value="add"
                            class="px-3 py-1 bg-blue-500 rounded-md text-white hover:bg-blue-700">
                        Add
                    </button>
                </td>
            </tr>
            </form>
        </table>
    </div>
</div>
</body>
</html>