<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!-- Popper.js, required for Bootstrap's JavaScript plugins -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2>Edit Data</h2>
            {% if get_data %}
                <form action="{% url 'PsUpdate' pk=get_data.revision_number %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group mb-1"> <!-- Reduced margin -->
                        <label for="id">Serial No:</label>
                        <input type="number" class="form-control" id="sr" name="sr"
                               value="{{ get_data.sr }}" readonly>
                    </div>
                    {% if productionvar %}
                    <div class="form-group mb-1"> <!-- Reduced margin -->
                        <label for="client">Client Name(As Per PO):</label>
                        <input type="text" class="form-control" id="client_name" name="client_name"
                               value="{{ get_data.client_name }}"
                               required>
                    </div>
                    <div class="form-group mb-1"> <!-- Reduced margin -->
                        <label for="client">Project Name:</label>
                        <input type="text" class="form-control" id="project_name" name="project_name"
                               value="{{ get_data.client_name }}"
                               required>
                    </div>
                    <div class="form-group mb-1"> <!-- Reduced margin -->
                        <label for="job_no">Project Code:</label>
                        <input type="text" class="form-control" id="project_code" name="project_code"
                               value="{{ get_data.project_code }}">
                    </div>
                    <div class="form-group mb-1"> <!-- Reduced margin -->
                        <label for="capacity">Order Refrence:</label>
                        <input type="text" class="form-control" id="order_refrence" name="order_refrence"
                               value="{{ get_data.order_refrence }}">
                    </div>
                    <div class="form-group mb-1"> <!-- Reduced margin -->
                        <label for="capacity">PO Date:</label>
                        <input type="date" class="form-control" id="po_date" name="po_date"
                               value="{{ get_data.po_date }}">
                    </div>
                    <div class="form-group mb-1">
                        <label for="installation_type">Types Of Material:</label>
                        <select class="form-control" id="types_of_material" name="types_of_material">
                            <option value="{{ get_data.types_of_material }}">{{ get_data.types_of_material }}</option>
                            <option value="Hand Rail">Hand Rail</option>
                            <option value="Walkway">Walkway</option>
                            <option value="MIX">MIX</option>
                            <option value="Combination">Combination</option>
                            <option value="Carport">Carport</option>
                            <option value="Asbestos Roof">Asbestos Roof</option>
                            <option value="Standing Seam Roof">Standing Seam Roof</option>
                            <option value="Sinusodial Metal Roof">Sinusodial Metal Roof</option>
                            <option value="Trapezoidal Metal Roof">Trapezoidal Metal Roof</option>
                            <option value="Flat RCC">Flat RCC</option>
                            <option value="Ground Mount">Ground Mount</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="form-group mb-1">
                        <label for="rev">Reason For Revision:</label>
                        <input type="text" class="form-control" value="{{ get_data.reason_for_revision }}"
                               id="reason_for_revision" name="reason_for_revision">
                    </div>
                    <div class="form-group mb-1">
                        <label for="whether_all_input_available">Whether all inputs availble for Design:</label><br>
                        <select id="whether_all_input_available" name="whether_all_input_available" class="form-control">
                            <option value="{{ get_data.whether_all_input_available }}">{{ get_data.whether_all_input_available }}</option>
                            <option value="Yes">Yes</option>
                            <option value="No">No</option>
                        </select>

                    </div>
                    <div class="form-group mb-1"> <!-- Reduced margin -->
                        <label for="design_status">Design Status:</label>
                        <select class="form-control" id="design_status" name="design_status">
                            <option value="{{ get_data.design_status }}">{{ get_data.design_status }}</option>
                            <option value="To Start">To Start</option>
                            <option value="In Progress">In Progress</option>
                            <option value="Done">Done</option>
                        </select>
                    </div>
                    <div class="form-group mb-1"> <!-- Reduced margin -->
                        <label for="capacity">Maker:</label>
                        <input type="text" class="form-control" id="maker" name="maker"
                               value="{{ get_data.maker }}">
                    </div>
                    <div class="form-group mb-1"> <!-- Reduced margin -->
                        <label for="capacity">Checker:</label>
                        <input type="text" class="form-control" id="checker" name="checker"
                               value="{{ get_data.checker }}">
                    </div>
                    <div class="form-group mb-1"> <!-- Reduced margin -->
                        <label for="capacity">BOM Release Date:</label>
                        <input type="date" class="form-control" id="bom_release_date" name="bom_release_date"
                               value="{{ get_data.bom_release_date }}">
                    </div>
                    <div class="form-group mb-1"> <!-- Reduced margin -->
                        <label for="capacity">Drawing Release Date:</label>
                        <input type="date" class="form-control" id="drawing_release_date" name="drawing_release_date"
                               value="{{ get_data.drawing_release_date }}">
                    </div>
                    <div class="form-group mb-1"> <!-- Reduced margin -->
                        <label for="capacity">Other Document Release Date:</label>
                        <input type="date" class="form-control" id="other_document_release_date"
                               name="other_document_release_date"
                               value="{{ get_data.other_document_release_date }}">
                    </div>
                    <div class="form-group mb-1"> <!-- Reduced margin -->
                        <label for="capacity">Turn Around Time:</label>
                        <input type="text" class="form-control" id="turn_around_time" name="turn_around_time"
                               value="{{ get_data.turn_around_time }}">
                    </div>
                    {% endif %}
                    <div class="form-group mb-1"> <!-- Reduced margin -->
                        <label for="capacity">Remarks:</label>
                        <input type="text" class="form-control" id="remarks" name="remarks"
                               value="{{ get_data.remarks }}">
                    </div>
                    <div class="form-group mb-1"> <!-- Reduced margin -->
                        <label>Attachments:</label><br>
                        <input type="checkbox" id="bom" name="bom" value="bom" onclick="bom_attachmen1()">
                        <label for="bom">BOM</label>
                        <input type="file" id="bom_attachment" name="bom_attachment" multiple
                               style="margin-left: 10px; display: none;"><br>
                        {% for file in get_data.bom_attachment.all %}
                                <div class="file-entry">
                                    <p style="display: inline;">{{ file.document_file.name }}</p>
                                    <a href="{% url 'bom_delete_file' column_id=get_data.revision_number file_id=file.id %}"
                                       class="btn btn-danger delete-button" style="font-size: 12px">X</a>
                                </div>
                        {% endfor %}
                        <input type="checkbox" id="drawing" name="drawing" value="Drawing"
                               onclick="drawing_attachmen1()">
                        <label for="Drawing">Drawing</label>
                        <input type="file" id="drawing_attachment" name="drawing_attachment" multiple
                               style="margin-left: 10px; display: none;"><br>
                        {% for file in get_data.drawing_attachment.all %}
                                <div class="file-entry">
                                    <p style="display: inline;">{{ file.document_file.name }}</p>
                                    <a href="{% url 'drawing_delete_file' column_id=get_data.revision_number file_id=file.id %}"
                                       class="btn btn-danger delete-button" style="font-size: 12px">X</a>
                                </div>
                        {% endfor %}
                        <input type="checkbox" id="others" name="others" value="Others" onclick="other_attachmen1()">
                        <label for="others">Others</label><br>
                        {% for file in get_data.other_attachment.all %}
                                <div class="file-entry">
                                    <p style="display: inline;">{{ file.document_file.name }}</p>
                                    <a href="{% url 'other_delete_file' column_id=get_data.revision_number file_id=file.id %}"
                                       class="btn btn-danger delete-button" style="font-size: 12px">X</a>
                                </div>
                        {% endfor %}
                        <input type="file" id="others_attachment" name="others_attachment" multiple
                               style="margin-left: 10px;display: none;"><br>
                    </div>
                    <button type="submit" class="btn btn-success" style="margin-top: 10px;">Update</button>
                </form>
            {% endif %}
        </div>
    </div>
</div>
<script>
    function bom_attachmen1() {
        let bom_attachment = document.getElementById("bom_attachment");
        let bom = document.getElementById("bom");

        if (bom.checked === true) {
            bom_attachment.style.display = 'inline';
        } else {
            bom_attachment.style.display = 'none';
        }

    }

    function drawing_attachmen1() {
        let drawing_attachment = document.getElementById("drawing_attachment");
        let drawing = document.getElementById("drawing");

        if (drawing.checked === true) {
            drawing_attachment.style.display = 'inline';
        } else {
            drawing_attachment.style.display = 'none';
        }

    }

    function other_attachmen1() {
        let others_attachment = document.getElementById("others_attachment");
        let others = document.getElementById("others");

        if (others.checked === true) {
            others_attachment.style.display = 'inline';
        } else {
            others_attachment.style.display = 'none';
        }

    }
</script>
</body>
</html>