<!DOCTYPE html>
<html lang="">
<head>
    <title>Registration Page</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        form {
            width: 300px;
        }

        form label,
        form input[type="text"],
        form input[type="password"],
        form input[type="submit"] {
            display: block;
            margin-bottom: 10px;
        }

        form input[type="text"],
        form input[type="password"] {
            width: 100%;
            padding: 10px;
            border-radius: 3px;
            border: 1px solid #ccc;
        }

        form input[type="submit"] {
            width: 100%;
            padding: 10px;
            background-color: #4caf50;
            color: #fff;
            border: none;
            border-radius: 3px;
            cursor: pointer;
        }

    </style>
    <!-- it is our css code for form in which we have username and password -->
</head>
<body>
<div>
    <form action="" method="post">
        {% csrf_token %}
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" required>
        <br>
        <label for="password">Confirm Password</label>
        <input type="password" id="password" name="password" required>
        <br>
        <input type="submit" value="Submit">
    </form>
    {% for i in messages %}
        <h3>{{ i }}</h3>
    {% endfor %}
    <!-- it will print our messages for here error message -->
</div>

</body>
</html>
