<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Solutions</title>
</head>
<body>
<ul>
    {% if file_groups %}
     <h2>RCC Solutions:</h2>
    {% if file_groups.ga_sol %}
        <h3>GA, Part Drawing</h3>
        {% for file in file_groups.ga_sol %}
            <li><a href="{{ file.file.url }}">{{ file.file }}</a> (Added on: {{ file.date_added|date:"d/m/y H:i" }})</li>
        {% endfor %}
    {% endif %}

    {% if file_groups.costing_sol %}
        <h3>Costing Solutions</h3>
        {% for file in file_groups.costing_sol %}
            <li><a href="{{ file.file.url }}">{{ file.file }}</a> (Added on: {{ file.date_added|date:"d/m/y H:i" }})</li>
        {% endfor %}
    {% endif %}

    {% if file_groups.bom_sol %}
        <h3>BOM Solutions</h3>
        {% for file in file_groups.bom_sol %}
            <li><a href="{{ file.file.url }}">{{ file.file }}</a> (Added on: {{ file.date_added|date:"d/m/y H:i" }})</li>
        {% endfor %}
    {% endif %}

    {% if file_groups.fea_staad_sol %}
        <h3>FEA/Staad Reports</h3>
        {% for file in file_groups.fea_staad_sol %}
            <li><a href="{{ file.file.url }}">{{ file.file }}</a> (Added on: {{ file.date_added|date:"d/m/y H:i" }})</li>
        {% endfor %}
    {% endif %}

    {% if file_groups.layout_sol %}
        <h3>Layouts</h3>
        {% for file in file_groups.layout_sol %}
            <li><a href="{{ file.file.url }}">{{ file.file }}</a> (Added on: {{ file.date_added|date:"d/m/y H:i" }})</li>
        {% endfor %}
    {% endif %}

    {% if file_groups.inst_manual_sol %}
        <h3>Installation Manuals</h3>
        {% for file in file_groups.inst_manual_sol %}
            <li><a href="{{ file.file.url }}">{{ file.file }}</a> (Added on: {{ file.date_added|date:"d/m/y H:i" }})</li>
        {% endfor %}
    {% endif %}
    {% endif %}

    {% if gm_file_groups %}
     <h2>Ground Mount Solutions:</h2>
    {% if gm_file_groups.ga_sol %}
        <h3>GA, Part Drawing</h3>
        {% for file in gm_file_groups.ga_sol %}
            <li><a href="{{ file.file.url }}">{{ file.file }}</a> (Added on: {{ file.date_added|date:"d/m/y H:i" }})</li>
        {% endfor %}
    {% endif %}

    {% if gm_file_groups.costing_sol %}
        <h3>Costing Solutions</h3>
        {% for file in gm_file_groups.costing_sol %}
            <li><a href="{{ file.file.url }}">{{ file.file }}</a> (Added on: {{ file.date_added|date:"d/m/y H:i" }})</li>
        {% endfor %}
    {% endif %}

    {% if gm_file_groups.bom_sol %}
        <h3>BOM Solutions</h3>
        {% for file in gm_file_groups.bom_sol %}
            <li><a href="{{ file.file.url }}">{{ file.file }}</a> (Added on: {{ file.date_added|date:"d/m/y H:i" }})</li>
        {% endfor %}
    {% endif %}

    {% if gm_file_groups.fea_staad_sol %}
        <h3>FEA/Staad Reports</h3>
        {% for file in gm_file_groups.fea_staad_sol %}
            <li><a href="{{ file.file.url }}">{{ file.file }}</a> (Added on: {{ file.date_added|date:"d/m/y H:i" }})</li>
        {% endfor %}
    {% endif %}

    {% if gm_file_groups.layout_sol %}
        <h3>Layouts</h3>
        {% for file in gm_file_groups.layout_sol %}
            <li><a href="{{ file.file.url }}">{{ file.file }}</a> (Added on: {{ file.date_added|date:"d/m/y H:i" }})</li>
        {% endfor %}
    {% endif %}

    {% if gm_file_groups.inst_manual_sol %}
        <h3>Installation Manuals</h3>
        {% for file in gm_file_groups.inst_manual_sol %}
            <li><a href="{{ file.file.url }}">{{ file.file }}</a> (Added on: {{ file.date_added|date:"d/m/y H:i" }})</li>
        {% endfor %}
    {% endif %}
    {% endif %}

    {% if is_file_groups %}
     <h2>Industrial Shed Solutions:</h2>
    {% if is_file_groups.ga_sol %}
        <h3>GA, Part Drawing</h3>
        {% for file in is_file_groups.ga_sol %}
            <li><a href="{{ file.file.url }}">{{ file.file }}</a> (Added on: {{ file.date_added|date:"d/m/y H:i" }})</li>
        {% endfor %}
    {% endif %}

    {% if is_file_groups.costing_sol %}
        <h3>Costing Solutions</h3>
        {% for file in is_file_groups.costing_sol %}
            <li><a href="{{ file.file.url }}">{{ file.file }}</a> (Added on: {{ file.date_added|date:"d/m/y H:i" }})</li>
        {% endfor %}
    {% endif %}

    {% if is_file_groups.bom_sol %}
        <h3>BOM Solutions</h3>
        {% for file in is_file_groups.bom_sol %}
            <li><a href="{{ file.file.url }}">{{ file.file }}</a> (Added on: {{ file.date_added|date:"d/m/y H:i" }})</li>
        {% endfor %}
    {% endif %}

    {% if is_file_groups.fea_staad_sol %}
        <h3>FEA/Staad Reports</h3>
        {% for file in is_file_groups.fea_staad_sol %}
            <li><a href="{{ file.file.url }}">{{ file.file }} (Added on: {{ file.date_added|date:"d/m/y H:i" }})</a></li>
        {% endfor %}
    {% endif %}

    {% if is_file_groups.layout_sol %}
        <h3>Layouts</h3>
        {% for file in is_file_groups.layout_sol %}
            <li><a href="{{ file.file.url }}">{{ file.file }}</a> (Added on: {{ file.date_added|date:"d/m/y H:i" }})</li>
        {% endfor %}
    {% endif %}

    {% if is_file_groups.inst_manual_sol %}
        <h3>Installation Manuals</h3>
        {% for file in is_file_groups.inst_manual_sol %}
            <li><a href="{{ file.file.url }}">{{ file.file }}</a> (Added on: {{ file.date_added|date:"d/m/y H:i" }})</li>
        {% endfor %}
    {% endif %}
    {% if is_file_groups.is_other_inp %}
        <h3>Other</h3>
        {% for file in is_file_groups.is_other_inp %}
            <li><a href="{{ file.file.url }}">{{ file.file }}</a> (Added on: {{ file.date_added|date:"d/m/y H:i" }})</li>
        {% endfor %}
    {% endif %}
    {% endif %}
</ul>
</body>
</html>