<!DOCTYPE html>
<html lang="" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Design Status</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <style>
        .status-dropdown {
            background-color: lightcyan;
            color: black;
            border: 2px solid black;
            border-radius: 5px;
            padding: 3px;
            max-width: 70px;
            font-size: 11px;
        }

        .status-dropdown option {
            color: black;
        }

        th {
            background: white;
            position: sticky;
            top: 0;
        }

        #full_table {
            max-height: 500px;
            overflow: auto;
            float: left;
        }

        #searchInput {
            padding: 5px;
            margin-top: 10px;
            margin-left: 10px;
            width: 200px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        #sbtn {
            padding: 5px 10px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        #sbtn:hover {
            background-color: #45a049;
        }

        .container1 {
            display: flex;
            align-items: center;
        }

        .container1 div {
            margin-left: 10px;
        }

        .flex-container {
            display: flex;
            align-items: center;
            justify-content: flex-end; /* Adjust this if needed */
        }
    </style>
</head>
<body>
<div class="text-right flex-container">
    <label class="text-right" style="margin-right: 10px;margin-top: 13px;"><b>Hey, {{ user }}</b></label>
    <a href="change_password" style="margin-right: 10px;margin-top: 08px;">Change Password</a>
    <form action="logout" style="margin-top: 10px; margin-right: 25px;">
        <button class="btn btn-success">Logout</button>
    </form>
</div>
{#<input type="text" id="searchInput" placeholder="Search...">#}
{#<button onclick="searchTable()" id="sbtn">Search</button>#}
<div class="container-fluid">
    <div class="container1">
        <h2>Revision History</h2>
    </div>
    <div>
        <input type="checkbox" id="drm" onclick="dispcolumnns()" checked>
        <label for="drm">Show Other Fields</label>
    </div>
<div>
    <label style="font-size: 22px;"><b>Client Name: </b>{{ single_data.client }}</label>
    <label style="font-size: 22px; margin-left: 10px;"><b>Project Id: </b>{{ single_data.project_id }}</label>
</div>
    <div class="table-responsive" id="full_table">
        <table class="table table-hover" style="display: inline;">
            <thead>
            <tr>
                <th>Revision Number</th>
                <th>Region</th>
                <th>Enquiry From</th>
                <th>Requirement</th>
                <th>Capacity / Length</th>
                <th>Design Status</th>
                <th>Solutions</th>
                <th>Enquiry Date</th>
                <th>Installation Type</th>
{#                <th>Design Assigned To</th>#}
{#                <th>Design Assigned By</th>#}
                <th>Remarks</th>
                {#                <th id="dsg_ass1" style="display: none">Sales POC</th>#}
            </tr>
            </thead>
            {% if all_data %}
                <tbody>
                {% for i in all_data %}
                    <tr>
                        <td>{{ i.revision_number }}</td>
                        <td>{{ i.region }}</td>
                        <td>{{ i.enquiry_from }}</td>
                        <td>{{ i.client_requirements }}</td>
                        <td>
                            {% if i.capacity %}
                                {{ i.capacity }} kWp
                            {% endif %}
                            {% if i.length_walkway %}
                                <br>
                                {{ i.length_walkway }} Mtr
                            {% endif %}
                            {% if i.length_handrail %}
                                <br>
                                {{ i.length_handrail }} Mtr
                            {% endif %}
                        </td>
                        <td>
                            {{ i.design_status }}
                        </td>
                        <td>
                            <a href="{% url 'display_nwsolution' pk=i.sr %}" target="_blank">Check</a>
                        </td>
                        <td>{{ i.crm_entry_date_formatted }}</td>
                        <td>{{ i.installation_type }}</td>
{#                        <td>{{ i.design_assigned }}<br>#}
{#                            {{ i.ds_assigned_date }}</td>#}
{#                        <td>{{ i.ds_assigned_by }}</td>#}
                        <td>
                            {% if i.remarks %}
                                <a onclick="DisplayPopup('{{ i.sr }}')" href="#">Read Remarks</a>
                                <dialog id="remark-popup-{{ i.sr }}" class="remark-popup">
                                    <label>{{ i.remarks }}</label><br>
                                    <input type="button" class="btn btn-danger" value="Close"
                                           onclick="ClosePopup('{{ i.sr }}')">
                                </dialog>
                            {% else %}
                                Nil
                            {% endif %}
                        </td>
                        {#                        <td id="dsg_ass2" style="display: none">{{ i.design_assigned }}</td>#}
                    </tr>
                {% endfor %}
                </tbody>
            {% endif %}
        </table>
    </div>
</div>
<br>

<script>
    function submitForm(form) {
        form.submit();
    }
</script>
<script>
    function searchTable() {
        // Get the input value entered by the user
        let input = document.getElementById("searchInput");
        let filter = input.value.toUpperCase();

        // Get all tables with the specified class
        let tables = document.getElementsByClassName("table table-hover");

        // Loop through each table
        for (let t = 0; t < tables.length; t++) {
            let table = tables[t];
            // Get all rows of the table
            let rows = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those that don't match the search query
            for (let i = 0; i < rows.length; i++) {
                let cells = rows[i].getElementsByTagName("td");
                let found = false;
                for (let j = 0; j < cells.length; j++) {
                    let cell = cells[j];
                    if (cell) {
                        let txtValue = cell.textContent || cell.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                            found = true;
                            break;
                        }
                    }
                }
                // Toggle the display of the row based on whether it matches the search query
                if (found) {
                    rows[i].style.display = "";
                } else {
                    rows[i].style.display = "none";
                }
            }
        }
    }
</script>
<script>
    // Place this code just before the closing </body> tag or use a defer/async attribute
    const toggleLinks = document.querySelectorAll(".toggle-more");

    toggleLinks.forEach((link) => {
        link.addEventListener("click", (event) => {
            event.preventDefault();
            event.stopPropagation(); // Prevent event propagation
            const limitedText = link.parentElement.querySelector(".limited-text");
            const seeMore = link.previousElementSibling; // Adjusted to select the previous sibling

            if (seeMore.style.display === "none") {
                seeMore.style.display = "inline";
                limitedText.style.display = "none";
                link.textContent = "See Less";
            } else {
                seeMore.style.display = "none";
                limitedText.style.display = "inline";
                link.textContent = "See More";
            }
        });
    });
</script>
<script>
    function DisplayPopup(id) {
        let dialog = document.getElementById('remark-popup-' + id);
        dialog.showModal();
    }

    function ClosePopup(id) {
        let dialog = document.getElementById('remark-popup-' + id);
        dialog.close();
    }

    function DisplayDeletePopup(id) {
        let dialog = document.getElementById('delete-popup-' + id);
        dialog.showModal();
    }

    function CloseDeletePopup(id) {
        let dialog = document.getElementById('delete-popup-' + id);
        dialog.close();
    }

    function DisplaySolutionPopup(id) {
        let dialog = document.getElementById('solution-popup-' + id);
        dialog.showModal();
    }

    function CloseSolutionPopup(id) {
        let dialog = document.getElementById('solution-popup-' + id);
        dialog.close();
    }

    function DisplayRevisionPopup(id) {
        let dialog = document.getElementById('revision-popup-' + id);
        dialog.showModal();
    }

    function CloseRevisionPopup(id) {
        let dialog = document.getElementById('revision-popup-' + id);
        dialog.close();
    }

    function dispdatefilter() {
        let date_div = document.getElementById('date_div');
        date_div.style.display = "inline"
    }
    dispcolumnns()
    function dispcolumnns() {
        // drm = design request mode
        let opt_checkbox = document.getElementById('drm');

        let drm_disp1 = document.getElementById('drm_disp1');
        let rfd1 = document.getElementById('rfd1');

        let drm_disp2_list = document.querySelectorAll('#drm_disp2');
        let rfd2_list = document.querySelectorAll('#rfd2');

        if (opt_checkbox.checked) {
            drm_disp1.style.display = 'table-cell';
            rfd1.style.display = 'table-cell';

            drm_disp2_list.forEach(function (drm_disp2) {
                drm_disp2.style.display = 'table-cell';
            });

            rfd2_list.forEach(function (rfd2) {
                rfd2.style.display = 'table-cell';
            });
        } else {
            drm_disp1.style.display = 'none';
            rfd1.style.display = 'none';

            drm_disp2_list.forEach(function (drm_disp2) {
                drm_disp2.style.display = 'none';
            });

            rfd2_list.forEach(function (rfd2) {
                rfd2.style.display = 'none';
            });
        }
    }
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>
</html>
