<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!-- Popper.js, required for Bootstrap's JavaScript plugins -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>

    </style>
</head>
<body>
{% if user.is_authenticated %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <h2 class="mb-2">Insert The Data</h2> <!-- Reduced margin -->
                <form onsubmit="return checkId()" action="{% url 'southInsert1' %}" method="POST"
                      enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group mb-1"> <!-- Reduced margin -->
                        <label for="client">Client:</label>
                        <input type="text" class="form-control" id="client" name="client" required>
                    </div>
                    <div class="form-group mb-1"> <!-- Reduced margin -->
                        <label for="job_no">Job No:</label>
                        <input type="text" class="form-control" id="job_no" name="job_no">
                    </div>
                    <div class="form-group mb-1"> <!-- Reduced margin -->
                        <label for="project_name">Project Name:</label>
                        <input type="text" class="form-control" id="project_name" name="project_name">
                    </div>
                    <div class="form-group mb-1"> <!-- Reduced margin -->
                        <label for="capacity">Capacity:</label>
                        <input type="text" class="form-control" id="capacity" name="capacity">
                    </div>
                    <div class="form-group mb-1"> <!-- Reduced margin -->
                        <label for="design_status">Design Status:</label>
                        <select class="form-control" id="design_status" name="design_status">
                            <option value="Not Started" selected>Not Started</option>
                        </select>
                    </div>
                    <div class="form-group mb-1">
                        <label for="rev">Rev:</label>
                        <input type="text" class="form-control" id="rev" name="rev">
                    </div>
                    <div class="form-group mb-1">
                        <label for="installation_type">Installation Type:</label>
                        <select class="form-control" id="installation_type" name="installation_type">
                            <option value="Hand Rail">Hand Rail</option>
                            <option value="Walkway">Walkway</option>
                            <option value="MIX">MIX</option>
                            <option value="Combination">Combination</option>
                            <option value="Carport">Carport</option>
                            <option value="Asbestos Roof">Asbestos Roof</option>
                            <option value="Standing Seam Roof">Standing Seam Roof</option>
                            <option value="Sinusodial Metal Roof">Sinusodial Metal Roof</option>
                            <option value="Trapezoidal Metal Roof">Trapezoidal Metal Roof</option>
                            <option value="Flat RCC">Flat RCC</option>
                            <option value="Ground Mount">Ground Mount</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="form-group mb-1">
                        <label for="sales_stage">Current Sales Stage:</label>
                        <select class="form-control" id="sales_stage" name="sales_stage">
                            <option value="Pre Sales">Pre Sales</option>
                            <option value="Post Sales">Post Sales</option>
                            <option value="Post Sales Rectification">Post Sales Rectification</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="form-group mb-1">
                        <label for="design_request_date">Design Request Date:</label>
                        <input type="date" class="form-control" id="design_request_date" name="design_request_date">
                    </div>
                    <div class="form-group mb-1">
                        <label for="design_request_mode">Design Request Mode:</label>
                        <select class="form-control" id="design_request_mode" name="design_request_mode">
                            <option value="Email">Email</option>
                            <option value="Whatsapp">Whatsapp</option>
                            <option value="Call">Call</option>
                            <option value="Email + Whatsapp">Email + Whatsapp</option>
                            <option value="Email + Call">Email + Call</option>
                            <option value="Call + Whatsapp">Call + Whatsapp</option>
                            <option value="No Design Request">No Design Request</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="form-group mb-1">
                        <label for="sales_poc">Sunrack Sales POC:</label>
                        <select class="form-control" id="sales_poc" name="sales_poc">
                            <option value="Ahmad">Ahmad</option>
                            <option value="Anand">Anand</option>
                            <option value="Azim">Azim</option>
                            <option value="Pavan">Pavan</option>
                            <option value="Prashant">Prashant</option>
                            <option value="Venkat">Venkat</option>
                            <option value="Muthu">Muthu</option>
                            <option value="Imran">Imran</option>
                            <option value="Vikram">Vikram</option>
                            <option value="Ajinkya">Ajinkya</option>
                        </select>
                    </div>
                    <div class="form-group mb-1">
                        <label for="documents_required">Documents/Drawing Required:</label>
                        <select class="form-control" id="documents_required" name="documents_required">
                            <option value="Layout">Layout</option>
                                <option value="GA + Costing">GA + Costing</option>
                                <option value="BOM + Costing">BOM + Costing</option>
                                <option value="GA + BOM + Costing">GA + BOM + Costing</option>
                                <option value="Only Costing">Only Costing</option>
                                <option value="FEA Analysis">FEA Analysis</option>
                                <option value="Staad Report">Staad Report</option>
                                <option value="GA + BOM + Report">GA + BOM + Report</option>
                                <option value="Part Drawings">Part Drawings</option>
                                <option value="Refer to Email">Refer to Email</option>
                                <option value="Refer to Whatsapp">Refer to Whatsapp</option>
                                <option value="Layout + GA + BOM + Costing">Layout + GA + BOM + Costing</option>
                                <option value="Other">Other</option>
                        </select>
                        <label style="margin-top: 10px;">Upload File(Optional): </label><br>
                        <button type="button" class="btn btn-secondary"
                                onclick="document.getElementById('document_file').click()">Add Files
                        </button>
                        <input type="file" id="document_file" name="document_file" multiple style="display: none;"
                               onchange="displaySelectedFiles()">
                        <div id="selected_files"></div>
                    </div>
                    <div class="form-group mb-1">
                        <label for="design_assigned">Design Assigned:</label>
                        <select class="form-control" id="design_assigned" name="design_assigned">
                            <option value="None">None</option>
                            <option value="Pavan">Pavan</option>
                            <option value="Ahmad">Ahmad</option>
                            <option value="Ayyub">Ayyub</option>
                            <option value="Inzimam">Inzimam</option>
                            <option value="Amaan">Amaan</option>
                            <option value="Ameen">Ameen</option>
                            <option value="Mujaddid">Mujaddid</option>
                            <option value="Kashish">Kashish</option>
                        </select>
                    </div>
                    <div class="form-group mb-1">
                        <label for="remarks">Remarks:</label>
                        <input type="text" class="form-control" id="remarks" name="remarks">
                    </div>
                    <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Insert</button>
                </form>
                <br>
            </div>
        </div>
    </div>
    <script>
        /*
        function checkId() {
            let enteredId = document.getElementById('id').value;
            let allIds = [{% for i in all_ids %} '{{ i.id }}', {% endfor %}];
            let idExists = false;

            let lbl = document.getElementById('errlbl');
            let Id = document.getElementById('id');

            for (let i = 0; i < allIds.length; i++) {
                if (enteredId === allIds[i]) {
                    idExists = true;
                    break;
                }
            }
            if (idExists) {
                alert('ID already exists. Please choose a different ID.');
                lbl.style.visibility = 'visible';
                Id.style.border = 'solid 2px red';
                return false;
            } else {
                return true;
            }
        }
        */
        // function to disply the selected files
        function displaySelectedFiles(){
            let input = document.getElementById('document_file');
            let output = document.getElementById('selected_files');
            let files = input.files;

            output.innerHTML = ""; // clear previous content
            for(let i =0; i< files.length; i++){
                output.innerHTML += '<p>'+ files[i].name + '</p>';
            }
        }
    </script>
{% else %}
    <h2>You are Not Logged In</h2>
    <form action="/">
        <input type="submit" value="Log in" style="background: black; color: white">
    </form>
{% endif %}

</body>
</html>