<!DOCTYPE html>
<html lang="en">
<head>
    <title>Stock Entry</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <style>
        /* Define custom styles here */
        .table-responsive {
            width: 100%;
            overflow-x: auto;
        }

        /* Add more styles if needed */
    </style>
</head>
<body>
<div style="text-align: center; margin-top: 10px; margin-bottom: 15px;">
    <a href="https://crm.sun-rack.com/admin/Stock/data/">
        <button class="btn btn-info" type="button">Data</button>
    </a>
    <a href="stockins">
        <button class="btn btn-info" type="button">Add Outward Material</button>
    </a>
</div>
<h2 style="margin-left: 25px"> Outward Register </h2>
<div class="container">
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>S.N:</th>
                <th>Client Name:</th>
                <th>PO Refrence:</th>
                <th>DC No:</th>
                <th>Delivery Address:</th>
                <th>Date:</th>
                <th>Boxes</th>
{#                <th>Total Net.weight</th>#}
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            {% if all_data %}
                {% for i in all_data %}
                    <tr>
                        <td>{{ i.sr }}</td>
                        <td>{{ i.client_name }}</td>
                        <td>{{ i.po_ref }}</td>
                        <td>{{ i.dc_no }}</td>
                        <td>{{ i.delivery_add }}</td>
                        <td>{{ i.date }}</td>
                        <td>
                            {% if i.boxes %}
                                <a href="{% url 'view_boxes' pk=i.sr %}" target="_blank">
                                    {{ unique_boxes_count_list|slice:forloop.counter|last }} Box(s)</a>
                            {% endif %}
                        </td>
{#                        <td>{{ i.tot_weight }}</td>#}
                        <td>
                            <form name="DeleteForm" action="{% url 'deleteEntry' pk=i.sr %}" method="post">
                                {% csrf_token %}
                                <input type="submit" class="btn btn-danger" value="Delete">
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            {% endif %}
            </tbody>
        </table>
    </div>
</div>

<script>
    // JavaScript code goes here
    // Make sure to place it just before the closing </body> tag or use a defer/async attribute
</script>
</body>
</html>
