<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Insert Data</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!-- Popper.js,   for Bootstrap's JavaScript plugins -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        input[type="text"],
        [type="number"],
        select {
            width: 30%;
            padding: 10px;
            border: 1px solid #ccc;
            margin-bottom: 10px;
            border-radius: 5px;
            background-color: #f5f5f5;
            display: inline-block;
        }

        h2 {
            font-size: 1.5em;
            margin-bottom: 10px;
        }
    </style>
    <title>Insert</title>
</head>
<body>
<div style="text-align: center; margin-top: 10px">
    <a href="https://crm.sun-rack.com/admin/Stock/data/">
        <button class="btn btn-info" type="button">Data</button>
    </a>
    <a href="stock_entryshow">
        <button class="btn btn-info" type="button" style="width: 150px">Outward Register</button>
    </a>
</div>
<h2 style="margin-left: 125px;"> Add Outward Material</h2>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8">
            <form action="{% url 'stockentry' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group mb-1">
                    <label for="client_name">Client Name:</label>
                    <input type="text" class="form-control" id="client_name" name="client_name">
                    <label for="po_ref">PO Reference:</label>
                    <input type="text" class="form-control" id="po_ref" name="po_ref">
                </div>
                <div class="form-group mb-1">
                    <label for="dc_no">DC Number:</label>
                    <input type="text" class="form-control" id="dc_no" name="dc_no">
                    <label for="delivery_add">Delivery Address:</label>
                    <input type="text" class="form-control" id="delivery_add" name="delivery_add">
                </div>
                <hr>
                <div class="form-group mb-1">
                    <input type="radio" id="Bundle" name="box_type1" value="Bundle No" required/>
                    <label for="Bundle">Bundle</label>
                    <input type="radio" id="Goni" name="box_type1" value="Goni No" required/>
                    <label for="Goni">Goni</label>
                    <input type="radio" id="Box Number" name="box_type1" value="Box No" required/>
                    <label for="Box Number">Box Number:</label>
                    <input type="text" class="form-control" id="box_no1" name="box_no1">
                </div>

                <div class="form-group mb-1">
                    <input type="radio" id="ma-code1" name="ma-code1" value="ma-code" required
                           onchange="toggleLength(1)" onclick="disp()">
                    <label for="ma-code1"> MA-Code</label>
                    <input type="radio" id="fastner1" name="ma-code1" value="fastner" onchange="toggleLength(1)"
                           onclick="disp()">
                    <label for="fastner1"> Fastener</label>
                    <select class="form-control" id="ma-code_opt1" name="ma-code_opt1"
                            style="display: none; width: 30%;">
                        {% for i in ma_code_values %}
                            <option value="{{ i }}">{{ i }}</option>
                        {% endfor %}
                    </select>
                    <select class="form-control" id="fastner_opt1" name="fastner_opt1"
                            style="display: none; width: 30%;" onchange="updateSecondDropdown(inc)">
                        <option value="Allen Head Bolts" selected>Allen Head Bolt</option>
                        <option value="Hex Head Bolts">Hex Head Bolt</option>
                        <option value="Hex Nuts">Hex Nuts</option>
                        <option value="Washers">Washers</option>
                        <option value="SDS">SDS</option>
                        <option value="Grub Screw">Grub Screw</option>
                        <option value="Rivet">Rivet</option>
                        <option value="EPDM">EPDM</option>
                        <option value="Grounding Clip">Grounding Clip</option>
                        <option value="Chemical">Chemical</option>
                    </select>
                    <select class="form-control" id="fastner_sort1" name="fastner_sort1"
                            style="display: none;width: 30%;">
                        <!-- Options will be added dynamically based on the user's selection -->
                    </select>
                </div>

                <div class="form-group mb-1">
                    <div id="lengthContainer1">
                        <label for="length1">Length (In mm):</label>
                        <input type="text" class="form-control" id="length1" name="length1"
                               style="width: 30%; display: inline-block;">
                    </div>
                    <label for="qty">Qty:</label>
                    <input type="text" class="form-control" id="qty1" name="qty1"
                           style="width: 30%; display: inline-block;" required><br>
                </div>

                <div id="boxContainer"></div>


                <button id="add-box-btn" type="button" class="btn btn-success" onclick="addItem()">Add Item</button>
                <button id="add-box-btn" type="button" class="btn btn-primary" onclick="addBox()">Add Box</button>
                <button id="add-box-btn" type="submit" style="margin-left: 100px;" class="btn btn-secondary">Submit</button>
                <input type="hidden" id="hiddenValue" name="hiddenValue" value="1">
                <input type="hidden" id="itemValue" name="itemValue">
                <input type="hidden" id="boxItemCounts" name="boxItemCounts">
            </form>
        </div>
    </div>
</div>
<script>
    // Counter to generate unique IDs for new entries
    let inc = 1;
    let itemInc = 0;
    let boxItemCounts = [];  // Array to store item counts for each box

    // Data arrays for fastener options
    let allen_head_bolts = [{% for value in allen_head_bolts %}'{{ value }}',{% endfor %}];
    let hex_head_bolts = [{% for value in hex_head_bolts %}'{{ value }}',{% endfor %}];
    let hex_nuts = [{% for value in hex_nuts %}'{{ value }}',{% endfor %}];
    let washers = [{% for value in washers %}'{{ value }}',{% endfor %}];
    let sds = [{% for value in sds %}'{{ value }}',{% endfor %}];
    let grub_screw = [{% for value in grub_screw %}'{{ value }}',{% endfor %}];
    let rivet = [{% for value in rivet %}'{{ value }}',{% endfor %}];
    let epdm = [{% for value in epdm %}'{{ value }}',{% endfor %}];
    let grounding_clip = [{% for value in grounding_clip %}'{{ value }}',{% endfor %}];
    let chemical = [{% for value in chemical %}'{{ value }}',{% endfor %}];

    // List of options for each fastener type
    let fastenerOptions = {
        "Allen Head Bolts": allen_head_bolts,
        "Hex Head Bolts": hex_head_bolts,
        "Hex Nuts": hex_nuts,
        "Washers": washers,
        "SDS": sds,
        "Grub Screw": grub_screw,
        "Rivet": rivet,
        "EPDM": epdm,
        "Grounding Clip": grounding_clip,
        "Chemical": chemical,
    };

    // Function to add a new item entry
    function addItem() {
        itemInc++;

        let maCodeValues = [{% for value in ma_code_values %}'{{ value }}',{% endfor %}];
        let hr = '<hr>';
        let maRadio = '<input type="radio" id="ma-codeitem' + itemInc + '" name="ma-codeitem' + itemInc + '" value="ma-code" required onchange="toggleLength(\'item' + itemInc + '\')">' +
            '<label for="ma-codeitem' + itemInc + '">MA-Code </label>';
        let ma_code_opt = '<select class="form-control" id="ma-code_optitem' + itemInc + '" name="ma-code_optitem' + itemInc + '" style="display: inline; width: 30%;">';
        ma_code_opt += '<option value=" " selected> </option>';
        for (let i = 0; i < maCodeValues.length; i++) {
            ma_code_opt += '<option value="' + maCodeValues[i] + '">' + maCodeValues[i] + '</option>';
        }
        ma_code_opt += '</select><br>';
        let fastnerRadio = '<input type="radio" id="fastneritem' + itemInc + '" name="ma-codeitem' + itemInc + '" value="fastner" onchange="toggleLength(\'item' + itemInc + '\')">' +
            '<label for="fastneritem' + itemInc + '">Fastner</label>';

        let fastner_opt = '<select class="form-control" id="fastner_optitem' + itemInc + '" name="fastner_optitem' + itemInc + '" style="display: inline; width: 30%;" onchange="updateSecondDropdownItem(' + itemInc + ')">' +
            '<option value="" selected>Select Fastener</option>' +
            '<option value="Allen Head Bolts">Allen Head Bolts</option>' +
            '<option value="Hex Head Bolts">Hex Head Bolts</option>' +
            '<option value="Hex Nuts">Hex Nuts</option>' +
            '<option value="Washers">Washers</option>' +
            '<option value="SDS">SDS</option>' +
            '<option value="Grub Screw">Grub Screw</option>' +
            '<option value="Rivet">Rivet</option>' +
            '<option value="EPDM">EPDM</option>' +
            '<option value="Grounding Clip">Grounding Clip</option>' +
            '<option value="Chemical">Chemical</option>' +
            '</select>';

        let fastner_sort = '<select class="form-control" id="fastner_sortitem' + itemInc + '" name="fastner_sortitem' + itemInc + '" style="display: inline; width: 30%; margin-left: 8px;"></select><br>';

        let length = '<div id="lengthContaineritem' + itemInc + '">' +
            '<label for="lengthitem' + itemInc + '">Length (In mm):</label>' +
            '<input type="text" id="lengthitem' + itemInc + '" name="lengthitem' + itemInc + '">' +
            '</div>';
        let qty = '<label for="qty' + itemInc + '" style="margin-left: 10px;">Qty:</label>' +
            '<input type="text" id="qtyitem' + itemInc + '" name="qtyitem' + itemInc + '" required><br>';

        let disp = hr + maRadio + ma_code_opt + fastnerRadio + fastner_opt + fastner_sort + length + qty;

        document.getElementById("boxContainer").insertAdjacentHTML('beforeend', disp);
        document.getElementById("itemValue").value = itemInc;
        // Update item count for current box
        updateBoxItemCount();
    }

    // Function to add a new box entry
    function addBox() {
        inc++;

        let maCodeValues = [{% for value in ma_code_values %}'{{ value }}',{% endfor %}];
        let hr = '<hr id="hr' + inc + '">';
        let box_no =
            '<input type="radio" id="Bundle' + inc + '" name="box_type' + inc + '" value="Bundle No" required />' +
            '<label for="Bundle' + inc + '" style="margin-left: 5px;">Bundle</label>' +
            '<input type="radio" id="Goni' + inc + '" name="box_type' + inc + '" value="Goni No" style="margin-left: 5px;" required />' +
            '<label for="Goni' + inc + '" style="margin-left: 5px;">Goni</label>' +
            '<input type="radio" id="Box Number' + inc + '" name="box_type' + inc + '" value="Box No" style="margin-left: 5px;" required />' +
            '<label for="Box Number' + inc + '" style="margin-left: 5px;">Box Number: &nbsp</label>' +
            '<input type="text" id="box_no' + inc + '" name="box_no' + inc + '"><br>';

        let maRadio = '<input type="radio" id="ma-code' + inc + '" name="ma-code' + inc + '" value="ma-code" required  onchange="toggleLength(' + inc + ')">' +
            '<label for="ma-code' + inc + '">MA-Code</label>';

        let ma_code_opt = '<select class="form-control" id="ma-code_opt' + inc + '" name="ma-code_opt' + inc + '" style="display: inline; width: 30%;">';
        ma_code_opt += '<option value=" " selected> </option>';
        for (let i = 0; i < maCodeValues.length; i++) {
            ma_code_opt += '<option value="' + maCodeValues[i] + '">' + maCodeValues[i] + '</option>';
        }
        ma_code_opt += '</select><br>';

        let fastnerRadio = '<input type="radio" id="fastner' + inc + '" name="ma-code' + inc + '" value="fastner" onchange="toggleLength(' + inc + ')">' +
            '<label for="fastner' + inc + '">Fastner</label>';

        let fastner_opt = '<select class="form-control" id="fastner_opt' + inc + '" name="fastner_opt' + inc + '" style="display: inline; width: 30%;" onchange="updateSecondDropdown(' + inc + ')">' +
            '<option value="" selected>Select Fastener</option>' +
            '<option value="Allen Head Bolts">Allen Head Bolts</option>' +
            '<option value="Hex Head Bolts">Hex Head Bolts</option>' +
            '<option value="Hex Nuts">Hex Nuts</option>' +
            '<option value="Washers">Washers</option>' +
            '<option value="SDS">SDS</option>' +
            '<option value="Grub Screw">Grub Screw</option>' +
            '<option value="Rivet">Rivet</option>' +
            '<option value="EPDM">EPDM</option>' +
            '<option value="Grounding Clip">Grounding Clip</option>' +
            '<option value="Chemical">Chemical</option>' +
            '</select>';

        let fastner_sort = '<select class="form-control" id="fastner_sort' + inc + '" name="fastner_sort' + inc + '" style="display: inline; width: 30%; margin-left: 8px;"></select><br>';

        let length = '<div id="lengthContainer' + inc + '">' +
            '<label for="length' + inc + '">Length (In mm):</label>' +
            '<input type="text" id="length' + inc + '" name="length' + inc + '">' +
            '</div>';

        let qty = '<label for="qty' + inc + '" style="margin-left: 10px;">Qty:</label>' +
            '<input type="text" id="qty' + inc + '" name="qty' + inc + '" required><br>';

        let removeButton = '<button type="button" class="btn btn-danger" id="removeBox' + inc + '" style="margin-bottom: 5px;" onclick="removeBox(' + inc + ')">Remove Box</button><br>';

        let disp = '<div id="box' + inc + '">' + hr + box_no + maRadio + ma_code_opt + fastnerRadio + fastner_opt + fastner_sort + length + qty + removeButton + '</div>';

        // Remove "Remove Box" button from the previous box
        let previousRemoveButton = document.querySelector('.btn-danger');
        if (previousRemoveButton) {
            previousRemoveButton.remove();
        }

        document.getElementById("boxContainer").insertAdjacentHTML('beforeend', disp);
        document.getElementById("hiddenValue").value = inc;

        // Initialize item count for the new box
        boxItemCounts.push(0);

        // Update hidden input with current box item counts
        document.getElementById("boxItemCounts").value = JSON.stringify(boxItemCounts);
    }

    function removeBox(boxId) {
        // Remove the box div
        let box = document.getElementById('box' + boxId);
        box.remove();

        // Update hidden value to reflect the current box count
        inc--;

        document.getElementById("hiddenValue").value = inc;

        // Update the box item counts
        boxItemCounts.pop();
        document.getElementById("boxItemCounts").value = JSON.stringify(boxItemCounts);

        // Add "Remove Box" button to the new last box (if any boxes remain)
        if (inc > 0) {
            let lastBox = document.getElementById('box' + inc);
            let removeButton = '<button type="button" class="btn btn-danger" id="removeBox' + inc + '" onclick="removeBox(' + inc + ')">Remove Box</button><br>';
            lastBox.insertAdjacentHTML('beforeend', removeButton);
        }
    }


    // Function to update item count for the current box
    function updateBoxItemCount() {
        let currentBoxIndex = parseInt(document.getElementById("hiddenValue").value) - 1;
        if (boxItemCounts[currentBoxIndex] === undefined) {
            boxItemCounts[currentBoxIndex] = 1;
        } else {
            boxItemCounts[currentBoxIndex]++;
        }
        document.getElementById("boxItemCounts").value = JSON.stringify(boxItemCounts);
    }

    // Function to update the second dropdown based on the first dropdown's selection
    function updateSecondDropdown(index) {
        let selectedOption = document.getElementById("fastner_opt" + index).value;
        let secondDropdown = document.getElementById("fastner_sort" + index);
        secondDropdown.innerHTML = ""; // Clear existing options

        if (fastenerOptions[selectedOption]) {
            for (let i = 0; i < fastenerOptions[selectedOption].length; i++) {
                let option = document.createElement("option");
                option.text = fastenerOptions[selectedOption][i];
                option.value = fastenerOptions[selectedOption][i];
                secondDropdown.add(option);
            }
        }
    }

    // Call the function initially to populate the second dropdown based on the default selection
    updateSecondDropdown(inc);


    function updateSecondDropdownItem(index) {
        let selectedOption = document.getElementById("fastner_optitem" + index).value;
        let secondDropdown = document.getElementById("fastner_sortitem" + index);
        secondDropdown.innerHTML = ""; // Clear existing options

        if (fastenerOptions[selectedOption]) {
            for (let i = 0; i < fastenerOptions[selectedOption].length; i++) {
                let option = document.createElement("option");
                option.text = fastenerOptions[selectedOption][i];
                option.value = fastenerOptions[selectedOption][i];
                secondDropdown.add(option);
            }
        }
    }

    // Call the function initially to populate the second dropdown based on the default selection
    updateSecondDropdown(itemInc)

    function toggleLength(index) {
        let maCodeRadio = document.getElementById('ma-code' + index);
        let lengthContainer = document.getElementById('lengthContainer' + index);

        if (maCodeRadio.checked) {
            lengthContainer.style.display = "block";
        } else {
            lengthContainer.style.display = "none";
        }
    }

    // Initialize length visibility based on initial selections
    toggleLength(1);
    toggleLength(itemInc);
</script>
<script>
    function disp() {
        let ma_co = document.getElementById('ma-code1');
        let ma_co_opt = document.getElementById('ma-code_opt1');
        let fastner_opt = document.getElementById('fastner_opt1');
        let fastner_sort = document.getElementById('fastner_sort1');
        if (ma_co.checked === true) {
            ma_co_opt.style.display = "inline"
            fastner_opt.style.display = "none"
            fastner_sort.style.display = "none"
        } else {
            ma_co_opt.style.display = "none"
            fastner_opt.style.display = "inline"
            fastner_sort.style.display = "inline"
        }
    }

</script>
</body>
</html>