{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Box</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <!-- Popper.js,   for Bootstrap's JavaScript plugins -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <style>
        label, h2 {
            margin-left: 15px;
        }

        @media print {
            #pd1, #tot_weight {
                display: none;
            }
            #wght1, #wght2, #wght3{
                display: none;
            }
        }
    </style>
</head>
<body>
<br>
<br>
<div class="container-fluid">
    <div class="table-responsive">
        <table class="table table-hover" style="border-collapse: collapse;">
            {% csrf_token %}
            {% for box, qr_code in combined_data %}
                <tr>
                    <th colspan="5" style="text-align: center; border: 2px solid black;">
                        <label style="font-size: 30px; font-weight: bold">SUNRACK TECHNOLOGIES LLP</label>
                        <label style="font-size: 22px; float: right; margin-top: 05px;">Date: {{ entry.date }}</label>
                    </th>
                </tr>
                <tr style="border-left: 2px solid black;">
                    <th style="font-size: 30px;">Client Name:</th>
                    <td colspan="3" style="text-align: center;font-size: 30px;">{{ entry.client_name }}</td>
                    <th rowspan="3" colspan="2" style="vertical-align: top; border-right: 2px solid black;" >
                        <img src="data:image/png;base64,{{ qr_code }}" alt="QR Code" width="250px">
                    </th>
                </tr>
                <tr style="border-left: 2px solid black;">
                    <th style="font-size: 30px;">Dc No:</th>
                    <td colspan="3" style="text-align: center;font-size: 30px;">{{ entry.dc_no }}</td>
                </tr>
                <tr style="border-left: 2px solid black; border-bottom: 2px solid black;">
                    <th style="font-size: 30px;">Delivery Address:</th>
                    <td colspan="3" style="text-align: center;font-size: 30px;">{{ entry.delivery_add }}</td>
                </tr>
                <tr style="border-left: 2px solid black; border-right: 2px solid black;">
                    <th ><input type="text" style="width: 170px;font-size: 25px; border: none;font-weight: bold;" value="{% if box.box_type != None%}{{ box.box_type}}:{% else %}Box No:{% endif %}"></th>
                    {% if box.radio_type == "ma-code" %}
                        <th style="font-size: 30px;">Product ID/Name</th>
                    {% else %}
                        <th style="font-size: 30px;">Fastner</th>
                    {% endif %}
                    <th style="font-size: 30px;">Length</th>
                    <th style="font-size: 30px;">Qty</th>
                    <th style="font-size: 30px;" id="wght1">Weight</th>
                </tr>
                <tr style="border: 2px solid black; border-top: none; border-bottom: none;">
                    <td style="font-size: 30px;">{{ box.box_no }}</td>
                    {% if box.radio_type == "ma-code" %}
                        <td style="font-size: 30px;">{{ box.ma_code }}</td>
                    {% else %}
                        <td style="font-size: 30px;">{{ box.fastner }}</td>
                    {% endif %}
                    <td style="font-size: 30px;">{{ box.length }} mm</td>
                    <td style="font-size: 30px;">{{ box.qty }}</td>
                    <td style="font-size: 30px;" id="wght2">{{ box.weight }}</td>
                </tr>
                {% for item in box.items.all %}
                    <tr style="font-size: 25px;border-right: 2px solid black; border-top: none;" >
                        <td style="border-left: 2px solid black;"></td>
                        {% if item.radio_type == "ma-code" %}
                            <td>{{ item.ma_code }}</td>
                        {% else %}
                            <td>{{ item.fastner }}</td>
                        {% endif %}
                        <td>{{ item.length }} mm</td>
                        <td style="">{{ item.qty }}</td>
                        <td id="wght3" style="">{{ item.weight }}</td>
                    </tr>

                {% endfor %}
                <tr style="border-top: 2px solid black;">

                </tr>
                <tr id="tot_weight" style="border-top: 2px solid black;">
                    <td style="font-size: 30px;" colspan="5"><b>Total Box Weight: </b>{{ box.tot_box_weight }}</td>
                </tr>
                <tr style="border-top: 2px solid black;" >
                <th></th>
                </tr>
                {#                <tr class="spacer-row" style="height: 10px;">#}
                {#                    <td colspan="8"></td>#}
                {#                </tr>#}
                {% with previous_box_no=box.box_no %}
                {% endwith %}
            {% endfor %}
        </table>
    </div>
</div>
<input onclick="window.print()" style="margin-left: 15px;" type="button" id="pd1" class="btn btn-primary"
       value="Download Pdf">

<script>
    // Function to toggle the visibility of weight label based on checkbox state for each box
    document.querySelectorAll('.toggle-weight-display').forEach(function (checkbox, index) {
        checkbox.addEventListener('change', function () {
            let weightLabel = document.querySelectorAll('.weight-label')[index];
            if (this.checked) {
                weightLabel.style.display = 'inline';
            } else {
                weightLabel.style.display = 'none';
            }
        });
    });
</script>
</body>
</html>
